openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 Trading API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: Trading
  x-deploy-envs-by-business-units:
    fcm:
    - local
    - develop
    - staging
  description: Private trading endpoints manage order placement and lifecycle.
paths:
  /private/create-order:
    x-discriminators:
      DMA:
        tags:
        - Trading
        summary: private/create-order
        description: "Creates a new BUY or SELL order. \n\nThis call is asynchronous, so the response is simply a confirmation of the request.\n\nThe `user.order` subscription can be used to check when the order is successfully created.\n"
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/create-order
      description: 'Creates a new BUY or SELL order.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check when the order is successfully created.'
      operationId: privateCreateOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: DMA
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCreateOrder({\n  instrument_name: 'BTCUSD-PERP',\n  side: 'SELL',\n  type: 'LIMIT',\n  price: '50000.5',\n  quantity: '1',\n  client_oid: 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n  exec_inst: ['POST_ONLY'],\n  time_in_force: 'FILL_OR_KILL',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: DMA
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_create_order({\n    'instrument_name': 'BTCUSD-PERP',\n    'side': 'SELL',\n    'type': 'LIMIT',\n    'price': '50000.5',\n    'quantity': '1',\n    'client_oid': 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n    'exec_inst': ['POST_ONLY'],\n    'time_in_force': 'FILL_OR_KILL',\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: Combo
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// Execute a previously quoted combo order\nconst res = await exchange.v1PrivatePostPrivateCreateOrder({\n  side: 'SELL',\n  type: 'PREVIOUSLY_QUOTED',\n  quote_id: '1234567890',\n  price: '50000.5',\n  quantity: '1',\n  time_in_force: 'IMMEDIATE_OR_CANCEL',\n  client_oid: 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: Combo
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# Execute a previously quoted combo order\nres = exchange.v1_private_post_private_create_order({\n    'side': 'SELL',\n    'type': 'PREVIOUSLY_QUOTED',\n    'quote_id': '1234567890',\n    'price': '50000.5',\n    'quantity': '1',\n    'time_in_force': 'IMMEDIATE_OR_CANCEL',\n    'client_oid': 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCreateOrderRequest'
            examples:
              DMA:
                x-discriminator-value: DMA
                value:
                  id: '1'
                  method: private/create-order
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: '1610905028000'
                  params:
                    instrument_name: BTCUSD-PERP
                    side: SELL
                    type: LIMIT
                    price: '50000.5'
                    quantity: '1'
                    client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
                    exec_inst:
                    - POST_ONLY
                    time_in_force: FILL_OR_KILL
              Combo:
                x-discriminator-value: Combo
                summary: Execute a previously quoted combo order
                value:
                  id: '1'
                  method: private/create-order
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: '1610905028000'
                  params:
                    side: SELL
                    type: PREVIOUSLY_QUOTED
                    quote_id: '1234567890'
                    price: '50000.5'
                    quantity: '1'
                    time_in_force: IMMEDIATE_OR_CANCEL
                    client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '0'
                result:
                  client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
                  order_id: '18342311'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderResponse'
              example:
                id: '1'
                method: private/create-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/amend-order:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/amend-order
      description: 'Amend an existing order on the Exchange.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The user.order subscription can be used to check when the order is successfully created.


        Please note that amend order is designed as a convenience function such that it performs cancel and then create behind the scene. The new order will lose queue priority, except if the amend is only to amend down order quantity.'
      operationId: privateAmendOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAmendOrder({\n  order_id: '6530219466236720401',\n  new_price: '82000',\n  new_quantity: '0.0002',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_amend_order({\n    'order_id': '6530219466236720401',\n    'new_price': '82000',\n    'new_quantity': '0.0002',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAmendOrderRequest'
            example:
              id: '53'
              method: private/amend-order
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1587846358253'
              params:
                order_id: '6530219466236720401'
                new_price: '82000'
                new_quantity: '0.0002'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '53'
                method: private/amend-order
                code: '0'
                result:
                  client_oid: '53'
                  order_id: '6530219466236720401'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '1'
                method: private/amend-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '1'
                method: private/amend-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '1'
                method: private/amend-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '1'
                method: private/amend-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAmendOrderResponse'
              example:
                id: '1'
                method: private/amend-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/cancel-order:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/cancel-order
      description: 'Cancels an existing order on the Exchange.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check when the order is successfully canceled.'
      operationId: privateCancelOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCancelOrder({\n  order_id: '18342311',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_cancel_order({\n    'order_id': '18342311',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCancelOrderRequest'
            example:
              id: '1'
              method: private/cancel-order
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                order_id: '18342311'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '0'
                message: NO_ERROR
                result:
                  client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
                  order_id: '18342311'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderResponse'
              example:
                id: '1'
                method: private/cancel-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/cancel-all-orders:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/cancel-all-orders
      description: 'Cancels all orders for a particular instrument/pair (asynchronous).


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check when the order is successfully canceled.'
      operationId: privateCancelAllOrders
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCancelAllOrders({\n  instrument_name: 'BTCUSD-PERP',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_cancel_all_orders({\n    'instrument_name': 'BTCUSD-PERP',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCancelAllOrdersRequest'
            example:
              id: '1'
              method: private/cancel-all-orders
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1611169184000'
              params:
                instrument_name: BTCUSD-PERP
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/cancel-all-orders
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/close-position:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/close-position
      description: 'Cancels position for a particular instrument/pair (asynchronous).


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check when the order is successfully canceled.'
      operationId: privateClosePosition
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateClosePosition({\n  instrument_name: 'BTCUSD-PERP',\n  type: 'LIMIT',\n  price: '30000.0',\n  quantity: '1000',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_close_position({\n    'instrument_name': 'BTCUSD-PERP',\n    'type': 'LIMIT',\n    'price': '30000.0',\n    'quantity': '1000',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateClosePositionRequest'
            example:
              id: '1'
              method: private/close-position
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                instrument_name: BTCUSD-PERP
                type: LIMIT
                price: '30000.0'
                quantity: '1000'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '0'
                result:
                  client_oid: 1684d6e4-2c55-64e1-52c3-3aa9febc3a23
                  order_id: '15744'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateClosePositionResponse'
              example:
                id: '1'
                method: private/close-position
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-open-orders:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-open-orders
      description: Gets all open orders for a particular instrument.
      operationId: privateGetOpenOrders
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetOpenOrders({\n  instrument_name: 'BTCUSD-PERP',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_open_orders({\n    'instrument_name': 'BTCUSD-PERP',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetOpenOrdersRequest'
            example:
              id: '1'
              method: private/get-open-orders
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params:
                instrument_name: BTCUSD-PERP
              nonce: '1613575617173'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '0'
                result:
                  data:
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848525'
                    client_oid: '1613571154900'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    exec_inst: []
                    quantity: '0.0100'
                    limit_price: '50000.0'
                    order_value: '500.000000'
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: ACTIVE
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD-PERP
                    fee_instrument_name: USD
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    isolation_id: '19848526'
                    isolation_type: ISOLATED_MARGIN
                    order_id: '19848526'
                    client_oid: '1613571154901'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    exec_inst:
                    - ISOLATED_MARGIN
                    quantity: '0.0100'
                    limit_price: '50000.0'
                    order_value: '500.000000'
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: ACTIVE
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD-PERP
                    fee_instrument_name: USD
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123457'
                    update_time: '1613575617173'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/get-open-orders
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-order-detail:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-order-detail
      description: Gets detail of a single order by order_id or client_oid.
      operationId: privateGetOrderDetail
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetOrderDetail({\n  order_id: '19848525',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_order_detail({\n    'order_id': '19848525',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetOrderDetailRequest'
            example:
              id: '1'
              method: private/get-order-detail
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params:
                order_id: '19848525'
              nonce: '1587846358253'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '0'
                result:
                  account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                  order_id: '19848525'
                  client_oid: '1613571154900'
                  order_type: LIMIT
                  time_in_force: GOOD_TILL_CANCEL
                  side: BUY
                  exec_inst: []
                  quantity: '0.0100'
                  limit_price: '50000.0'
                  order_value: '500.000000'
                  maker_fee_rate: '0.000250'
                  taker_fee_rate: '0.000400'
                  avg_price: '0.0'
                  cumulative_quantity: '0.0000'
                  cumulative_value: '0.000000'
                  cumulative_fee: '0.000000'
                  status: ACTIVE
                  instrument_name: BTCUSD-PERP
                  fee_instrument_name: USD
                  reason: '43012'
                  create_time: '1613575617173'
                  create_time_ns: '1613575617173123456'
                  update_time: '1613575617173'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderDetailResponse'
              example:
                id: '1'
                method: private/get-order-detail
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/create-order-list:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/create-order-list (LIST)
      description: 'Create a list of orders on the Exchange.


        `contingency_type` must be LIST, for list of orders creation.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check if the orders are successfully created.'
      operationId: privateCreateOrderList
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCreateOrderList({\n  contingency_type: 'LIST',\n  order_list: [\n    { instrument_name: 'CRO_USD', side: 'SELL', type: 'LIMIT', quantity: '10', price: '0.12', client_oid: 'api_leg1' },\n    { instrument_name: 'CRO_USD', side: 'SELL', type: 'LIMIT', quantity: '20', price: '0.122', client_oid: 'api_leg2' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_create_order_list({\n    'contingency_type': 'LIST',\n    'order_list': [\n        {'instrument_name': 'CRO_USD', 'side': 'SELL', 'type': 'LIMIT', 'quantity': '10', 'price': '0.12', 'client_oid': 'api_leg1'},\n        {'instrument_name': 'CRO_USD', 'side': 'SELL', 'type': 'LIMIT', 'quantity': '20', 'price': '0.122', 'client_oid': 'api_leg2'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCreateOrderListRequest'
            example:
              id: '6573'
              method: private/create-order-list
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1750385416548'
              params:
                contingency_type: LIST
                order_list:
                - instrument_name: CRO_USD
                  side: SELL
                  type: LIMIT
                  quantity: '10'
                  price: '0.12'
                  client_oid: api_leg1
                - instrument_name: CRO_USD
                  side: SELL
                  type: LIMIT
                  quantity: '20'
                  price: '0.122'
                  client_oid: api_leg2
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '6573'
                method: private/create-order-list
                code: '0'
                result:
                - code: '0'
                  index: '0'
                  client_oid: api_leg1
                  order_id: '5755600460443882762'
                - code: '0'
                  index: '1'
                  client_oid: api_leg2
                  order_id: '5755600460443882763'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '1'
                method: private/create-order-list
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '1'
                method: private/create-order-list
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '1'
                method: private/create-order-list
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '1'
                method: private/create-order-list
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateOrderListResponse'
              example:
                id: '1'
                method: private/create-order-list
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/cancel-order-list:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/cancel-order-list (LIST)
      description: 'Cancel a list of orders on the Exchange.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.order` subscription can be used to check when each of the orders is successfully cancelled.'
      operationId: privateCancelOrderList
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCancelOrderList({\n  contingency_type: 'LIST',\n  order_list: [\n    { instrument_name: 'CRO_USD', client_oid: 'api_leg1' },\n    { instrument_name: 'CRO_USD', client_oid: 'api_leg2' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_cancel_order_list({\n    'contingency_type': 'LIST',\n    'order_list': [\n        {'instrument_name': 'CRO_USD', 'client_oid': 'api_leg1'},\n        {'instrument_name': 'CRO_USD', 'client_oid': 'api_leg2'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCancelOrderListRequest'
            example:
              id: '6575'
              method: private/cancel-order-list
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1750389124417'
              params:
                contingency_type: LIST
                order_list:
                - instrument_name: CRO_USD
                  client_oid: api_leg1
                - instrument_name: CRO_USD
                  client_oid: api_leg2
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '6575'
                method: private/cancel-order-list
                code: '0'
                result:
                - code: '0'
                  index: '0'
                - code: '0'
                  index: '1'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '1'
                method: private/cancel-order-list
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '1'
                method: private/cancel-order-list
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '1'
                method: private/cancel-order-list
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '1'
                method: private/cancel-order-list
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCancelOrderListResponse'
              example:
                id: '1'
                method: private/cancel-order-list
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/change-account-leverage:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/change-account-leverage
      description: Changes the maximum leverage used by the account. Please note, each instrument has its own maximum leverage. Whichever leverage (account or instrument) is lower will be used.
      operationId: privateChangeAccountLeverage
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateChangeAccountLeverage({\n  account_id: '52e7c00f-1324-5a6z-bfgt-de445bde21a5',\n  leverage: 10,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_change_account_leverage({\n    'account_id': '52e7c00f-1324-5a6z-bfgt-de445bde21a5',\n    'leverage': 10,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateChangeAccountLeverageRequest'
            example:
              id: '1'
              method: private/change-account-leverage
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1611022832613'
              params:
                account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                leverage: 10
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountLeverageResponse'
              example:
                id: '1'
                method: private/change-account-leverage
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/change-account-settings:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/change-account-settings
      description: Change account level settings regarding STP and other properties.
      operationId: privateChangeAccountSettings
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateChangeAccountSettings({\n  stp_scope: 'S',\n  stp_id: '100',\n  stp_inst: 'M',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_change_account_settings({\n    'stp_scope': 'S',\n    'stp_id': '100',\n    'stp_inst': 'M',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateChangeAccountSettingsRequest'
            example:
              id: '696'
              method: private/change-account-settings
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1721989111722'
              params:
                stp_scope: S
                stp_id: '100'
                stp_inst: M
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '696'
                method: private/change-account-settings
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '1'
                method: private/change-account-settings
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '1'
                method: private/change-account-settings
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '1'
                method: private/change-account-settings
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '1'
                method: private/change-account-settings
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeAccountSettingsResponse'
              example:
                id: '1'
                method: private/change-account-settings
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-account-settings:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-account-settings
      description: Get account settings.
      operationId: privateGetAccountSettings
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetAccountSettings({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_account_settings({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetAccountSettingsRequest'
            example:
              id: '697'
              method: private/get-account-settings
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1721989202781'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '697'
                method: private/get-account-settings
                code: '0'
                result:
                - leverage: '20'
                  stp_id: '100'
                  stp_scope: S
                  stp_inst: M
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '1'
                method: private/get-account-settings
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '1'
                method: private/get-account-settings
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '1'
                method: private/get-account-settings
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '1'
                method: private/get-account-settings
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetAccountSettingsResponse'
              example:
                id: '1'
                method: private/get-account-settings
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/create-isolated-margin-transfer:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/create-isolated-margin-transfer
      description: Transfer balance between account and isolated position.
      operationId: privateCreateIsolatedMarginTransfer
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateCreateIsolatedMarginTransfer({\n  isolation_id: '19848526',\n  direction: 'CREDIT',\n  amount: '50',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_create_isolated_margin_transfer({\n    'isolation_id': '19848526',\n    'direction': 'CREDIT',\n    'amount': '50',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferRequest'
            example:
              id: '11'
              method: private/create-isolated-margin-transfer
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1611022832613'
              params:
                isolation_id: '19848526'
                direction: CREDIT
                amount: '50'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '11'
                method: private/create-isolated-margin-transfer
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '1'
                method: private/create-isolated-margin-transfer
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '1'
                method: private/create-isolated-margin-transfer
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '1'
                method: private/create-isolated-margin-transfer
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '1'
                method: private/create-isolated-margin-transfer
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCreateIsolatedMarginTransferResponse'
              example:
                id: '1'
                method: private/create-isolated-margin-transfer
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/change-isolated-margin-leverage:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/change-isolated-margin-leverage
      description: Changes the maximum leverage of an isolated position.
      operationId: privateChangeIsolatedMarginLeverage
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateChangeIsolatedMarginLeverage({\n  isolation_id: '19848526',\n  leverage: 10,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_change_isolated_margin_leverage({\n    'isolation_id': '19848526',\n    'leverage': 10,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageRequest'
            example:
              id: '11'
              method: private/change-isolated-margin-leverage
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1611022832613'
              params:
                isolation_id: '19848526'
                leverage: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '11'
                method: private/change-isolated-margin-leverage
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '1'
                method: private/change-isolated-margin-leverage
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '1'
                method: private/change-isolated-margin-leverage
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '1'
                method: private/change-isolated-margin-leverage
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '1'
                method: private/change-isolated-margin-leverage
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse'
              example:
                id: '1'
                method: private/change-isolated-margin-leverage
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-fee-rate:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-fee-rate
      description: Get fee rates for user’s account.
      operationId: privateGetFeeRate
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetFeeRate({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_fee_rate({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetFeeRateRequest'
            example:
              id: '1'
              method: private/get-fee-rate
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params: {}
              nonce: '1721989202781'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '0'
                result:
                  spot_tier: '3'
                  deriv_tier: '3'
                  effective_spot_maker_rate_bps: '6.5'
                  effective_spot_taker_rate_bps: '6.9'
                  effective_deriv_maker_rate_bps: '1.1'
                  effective_deriv_taker_rate_bps: '3'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetFeeRateResponse'
              example:
                id: '1'
                method: private/get-fee-rate
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-instrument-fee-rate:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-instrument-fee-rate
      description: Get the instrument fee rate.
      operationId: privateGetInstrumentFeeRate
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetInstrumentFeeRate({\n  instrument_name: 'BTC_USD',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_instrument_fee_rate({\n    'instrument_name': 'BTC_USD',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetInstrumentFeeRateRequest'
            example:
              id: '1'
              method: private/get-instrument-fee-rate
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                instrument_name: BTC_USD
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '0'
                result:
                  instrument_name: BTC_USD
                  effective_maker_rate_bps: '6.5'
                  effective_taker_rate_bps: '6.9'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetInstrumentFeeRateResponse'
              example:
                id: '1'
                method: private/get-instrument-fee-rate
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-order-history:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-order-history
      description: 'Gets the order history for a particular instrument.


        Users should use `user.order` to keep track of real-time order updates, and `private/get-order-history` should primarily be used for recovery; typically when the websocket is disconnected.'
      operationId: privateGetOrderHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetOrderHistory({\n  instrument_name: 'BTCUSD-PERP',\n  start_time: \"1610905028000081486\",\n  end_time: \"1613570791058211357\",\n  limit: 20,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_order_history({\n    'instrument_name': 'BTCUSD-PERP',\n    'start_time': \"1610905028000081486\",\n    'end_time': \"1613570791058211357\",\n    'limit': 20,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetOrderHistoryRequest'
            example:
              id: '1'
              method: private/get-order-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1613570791060'
              params:
                instrument_name: BTCUSD-PERP
                start_time: '1610905028000081486'
                end_time: '1613570791058211357'
                limit: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '0'
                result:
                  data:
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '18342311'
                    client_oid: '1613571154795'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    quantity: '0.0001'
                    limit_price: '51000.0'
                    order_value: '3.900100'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    status: CANCELED
                    instrument_name: BTCUSD-PERP
                    fee_instrument_name: USD
                    create_time: '1610905028000'
                    update_time: '1613571320251'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '18342500'
                    client_oid: '1613571154800'
                    order_type: LIMIT
                    side: BUY
                    quantity: '0.0500'
                    limit_price: '51283.0'
                    avg_price: '51278.5'
                    cumulative_quantity: '0.0500'
                    status: FILLED
                    instrument_name: BTCUSD-PERP
                    create_time: '1613570791059'
                    update_time: '1613570791060'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/get-order-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-trades:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-trades
      description: 'Gets all executed trades for a particular instrument.


        Users should use `user.trade` to keep track of real-time trades, and `private/get-trades` should primarily be used for recovery; typically when the websocket is disconnected.'
      operationId: privateGetTrades
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetTrades({\n  instrument_name: 'BTCUSD-PERP',\n  start_time: '1619089031996081486',\n  end_time: '1619200052124211357',\n  limit: 20,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_trades({\n    'instrument_name': 'BTCUSD-PERP',\n    'start_time': '1619089031996081486',\n    'end_time': '1619200052124211357',\n    'limit': 20,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetTradesRequest'
            example:
              id: '1'
              method: private/get-trades
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1613570791060'
              params:
                instrument_name: BTCUSD-PERP
                start_time: '1619089031996081486'
                end_time: '1619200052124211357'
                limit: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '0'
                result:
                  data:
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    event_date: '2021-02-17'
                    journal_type: TRADING
                    traded_quantity: '0.0500'
                    traded_price: '51278.5'
                    fees: '-1.025570'
                    fee_credits: '-0.500000'
                    order_id: '19708564'
                    trade_id: '38554669'
                    trade_match_id: '76423'
                    client_oid: 7665b001-2753-4d17-b266-61ecb755922d
                    taker_side: MAKER
                    side: BUY
                    instrument_name: BTCUSD-PERP
                    fee_instrument_name: USD
                    create_time: '1613570791060'
                    create_time_ns: '1613570791060827635'
                    transact_time_ns: '1613570791060827635'
                    match_count: '1'
                    match_index: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTradesResponse'
              example:
                id: '1'
                method: private/get-trades
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/get-transactions:
    post:
      tags:
      - Trading
      x-apply-to:
      - rest
      summary: private/get-transactions
      description: Fetches recent transactions.
      operationId: privateGetTransactions
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateGetTransactions({\n  instrument_name: 'BTCUSD-PERP',\n  start_time: '1619089031996081486',\n  end_time: '1619200052124211357',\n  limit: 20,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_get_transactions({\n    'instrument_name': 'BTCUSD-PERP',\n    'start_time': '1619089031996081486',\n    'end_time': '1619200052124211357',\n    'limit': 20,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateGetTransactionsRequest'
            example:
              id: '1'
              method: private/get-transactions
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1613640752166'
              params:
                instrument_name: BTCUSD-PERP
                start_time: '1619089031996081486'
                end_time: '1619200052124211357'
                limit: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '0'
                result:
                  data:
                  - account_id: 88888888-8888-8888-8888-000000000123
                    event_date: '2021-02-18'
                    journal_type: TRADING
                    journal_id: '187078'
                    transaction_qty: '-0.0005'
                    transaction_cost: '-24.500000'
                    realized_pnl: '-0.006125'
                    order_id: '72062'
                    trade_id: '71497'
                    trade_match_id: '8625'
                    event_timestamp_ms: '1613640752166'
                    event_timestamp_ns: '1613640752166234567'
                    client_oid: 6ac2421d-5078-4ef6-a9d5-9680602ce123
                    taker_side: MAKER
                    side: SELL
                    instrument_name: BTCUSD-PERP
                  - account_id: 88888888-8888-8888-8888-000000000123
                    event_date: '2021-02-18'
                    journal_type: SESSION_SETTLE
                    journal_id: '186959'
                    transaction_qty: '0'
                    transaction_cost: '0.000000'
                    realized_pnl: '-0.007800'
                    trade_match_id: '0'
                    event_timestamp_ms: '1613638800001'
                    event_timestamp_ns: '1613638800001124563'
                    client_oid: ''
                    taker_side: ''
                    instrument_name: BTCUSD-PERP
                  - account_id: 88888888-8888-8888-8888-000000000123
                    event_date: '2021-02-18'
                    journal_type: SESSION_SETTLE
                    journal_id: '186959'
                    transaction_qty: '0'
                    transaction_cost: '0.000000'
                    realized_pnl: '-0.007800'
                    trade_match_id: '0'
                    event_timestamp_ms: '1613638800002'
                    event_timestamp_ns: '1613638800001124563'
                    client_oid: ''
                    taker_side: ''
                    instrument_name: BTCUSD-PERP
                    isolation_id: '19848526'
                    isolation_type: ISOLATED_MARGIN
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGetTransactionsResponse'
              example:
                id: '1'
                method: private/get-transactions
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateCancelOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelOrderResponse
    PrivateChangeAccountLeverageResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeAccountLeverageResponse
    PrivateGetTradesRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetTradesRequest
    PrivateGetAccountSettingsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetAccountSettingsRequest
    PrivateCreateOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateOrderResponse
    PrivateCancelAllOrdersRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelAllOrdersRequest
    PrivateGetOrderDetailResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOrderDetailResponse
    PrivateGetOrderDetailRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOrderDetailRequest
    PrivateGetInstrumentFeeRateRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetInstrumentFeeRateRequest
    PrivateGetFeeRateResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetFeeRateResponse
    PrivateClosePositionRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateClosePositionRequest
    PrivateGetOrderHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOrderHistoryResponse
    PrivateCancelOrderListResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelOrderListResponse
    PrivateChangeIsolatedMarginLeverageRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeIsolatedMarginLeverageRequest
    PrivateGetAccountSettingsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetAccountSettingsResponse
    PrivateCreateOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateOrderRequest
    PrivateChangeAccountSettingsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeAccountSettingsRequest
    PrivateGetOpenOrdersResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOpenOrdersResponse
    PrivateChangeAccountSettingsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeAccountSettingsResponse
    PrivateCreateOrderListResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateOrderListResponse
    PrivateGetOpenOrdersRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOpenOrdersRequest
    PrivateGetTransactionsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetTransactionsRequest
    PrivateCreateIsolatedMarginTransferResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateIsolatedMarginTransferResponse
    PrivateCreateOrderListRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateOrderListRequest
    PrivateGetTradesResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetTradesResponse
    PrivateClosePositionResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateClosePositionResponse
    PrivateCancelOrderListRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelOrderListRequest
    PrivateGetOrderHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetOrderHistoryRequest
    PrivateCreateIsolatedMarginTransferRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCreateIsolatedMarginTransferRequest
    PrivateChangeAccountLeverageRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeAccountLeverageRequest
    PrivateAmendOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAmendOrderRequest
    PrivateCancelAllOrdersResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelAllOrdersResponse
    PrivateCancelOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateCancelOrderRequest
    PrivateGetTransactionsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetTransactionsResponse
    PrivateChangeIsolatedMarginLeverageResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateChangeIsolatedMarginLeverageResponse
    PrivateGetInstrumentFeeRateResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetInstrumentFeeRateResponse
    PrivateAmendOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAmendOrderResponse
    PrivateGetFeeRateRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateGetFeeRateRequest
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contrac
[...]
