openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 Staking API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: Staking
  description: Stake crypto assets on-chain to earn rewards directly from the Exchange.
paths:
  /public/staking/get-conversion-rate:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: public/staking/get-conversion-rate
      description: Returns conversion rate between staked token (e.g. ETH.staked) and liquid staking token (e.g. CDCETH). Params instrument_name (e.g. CDCETH). Used before private/staking/convert.
      operationId: publicStakingGetConversionRate
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: 'const ccxt = require(''ccxt'');

          const exchange = new ccxt.cryptocom({ enableRateLimit: true });

          const res = await exchange.v1PublicPostPublicStakingGetConversionRate({ instrument_name: ''CDCETH'' });

          console.log(res);

          '
      - lang: Python
        label: Python
        source: 'import ccxt

          exchange = ccxt.cryptocom({''enableRateLimit'': True})

          res = exchange.v1_public_post_public_staking_get_conversion_rate({''instrument_name'': ''CDCETH''})

          print(res)

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicStakingGetConversionRateRequest'
            example:
              id: '1'
              method: public/staking/get-conversion-rate
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: CDCETH
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStakingGetConversionRateResponse'
              example:
                id: '1'
                method: public/staking/get-conversion-rate
                code: '0'
                result:
                  instrument_name: CDCETH
                  conversion_rate: '1.0203'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStakingGetConversionRateResponse'
              example:
                id: '1'
                method: public/staking/get-conversion-rate
                code: '40001'
                message: BAD_REQUEST
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStakingGetConversionRateResponse'
              example:
                id: '1'
                method: public/staking/get-conversion-rate
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStakingGetConversionRateResponse'
              example:
                id: '1'
                method: public/staking/get-conversion-rate
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStakingGetConversionRateResponse'
              example:
                id: '1'
                method: public/staking/get-conversion-rate
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/stake:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/stake
      description: Create a request to earn token rewards by staking on-chain in the Exchange.
      operationId: privateStakingStake
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingStake({\n  instrument_name: 'SOL.staked',\n  quantity: '1',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_stake({\n    'instrument_name': 'SOL.staked',\n    'quantity': '1',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingStakeRequest'
            example:
              id: '1'
              method: private/staking/stake
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
                quantity: '1'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '0'
                result:
                  staking_id: '1'
                  instrument_name: SOL.staked
                  status: NEW
                  quantity: '1'
                  underlying_inst_name: SOL
                  pre_stake_charge_rate_in_bps: '50'
                  pre_stake_charge: '0.5'
                  reason: NO_ERROR
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingStakeResponse'
              example:
                id: '1'
                method: private/staking/stake
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/unstake:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/unstake
      description: Create a request to unlock staked token.
      operationId: privateStakingUnstake
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingUnstake({\n  instrument_name: 'SOL.staked',\n  quantity: '1',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_unstake({\n    'instrument_name': 'SOL.staked',\n    'quantity': '1',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingUnstakeRequest'
            example:
              id: '1'
              method: private/staking/unstake
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
                quantity: '1'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '0'
                result:
                  staking_id: '1'
                  instrument_name: SOL.staked
                  status: NEW
                  quantity: '1'
                  underlying_inst_name: SOL
                  reason: NO_ERROR
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingUnstakeResponse'
              example:
                id: '1'
                method: private/staking/unstake
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-staking-position:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-staking-position
      description: Get the total staking position for a user/token
      operationId: privateStakingGetStakingPosition
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetStakingPosition({\n  instrument_name: 'SOL.staked',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_staking_position({\n    'instrument_name': 'SOL.staked',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetStakingPositionRequest'
            example:
              id: '1'
              method: private/staking/get-staking-position
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '0'
                result:
                  data:
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    staked_quantity: '30000.00'
                    pending_staked_quantity: '20000.00'
                    pending_unstaked_quantity: '10000.00'
                    reward_eligible_quantity: '10000.00'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingPositionResponse'
              example:
                id: '1'
                method: private/staking/get-staking-position
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-staking-instruments:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-staking-instruments
      description: Get staking instruments information
      operationId: privateStakingGetStakingInstruments
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetStakingInstruments({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_staking_instruments({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsRequest'
            example:
              id: '1'
              method: private/staking/get-staking-instruments
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '0'
                result:
                  data:
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    reward_inst_name: SOL.staked
                    out_of_stock: false
                    block_unstake: false
                    est_rewards: '0.0661'
                    apr_y: APR
                    min_stake_amt: '0.00000001'
                    reward_frequency: '2.5'
                    lock_up_period: '5'
                    is_compound_reward: true
                    pre_stake_charge_enable: false
                    pre_stake_charge_rate_in_bps: '0'
                    is_restaked: false
                    additional_rewards: []
                  - instrument_name: DYDX.staked
                    underlying_inst_name: DYDX
                    reward_inst_name: DYDX
                    out_of_stock: false
                    block_unstake: false
                    est_rewards: '0.05'
                    apr_y: APR
                    min_stake_amt: '0.00000001'
                    reward_frequency: '1'
                    lock_up_period: '31'
                    is_compound_reward: false
                    pre_stake_charge_enable: false
                    pre_stake_charge_rate_in_bps: '0'
                    is_restaked: false
                    additional_rewards:
                    - reward_inst_name: USD_Stable_Coin
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakingInstrumentsResponse'
              example:
                id: '1'
                method: private/staking/get-staking-instruments
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-open-stake:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-open-stake
      description: Get stake/unstake requests that status is not in final state.
      operationId: privateStakingGetOpenStake
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetOpenStake({\n  instrument_name: 'SOL.staked',\n  start_time: \"1691455454495\",\n  end_time: \"1691545277000\",\n  limit: '10',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_open_stake({\n    'instrument_name': 'SOL.staked',\n    'start_time': \"1691455454495\",\n    'end_time': \"1691545277000\",\n    'limit': '10',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetOpenStakeRequest'
            example:
              id: '1'
              method: private/staking/get-open-stake
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
                start_time: '1691455454495'
                end_time: '1691545277000'
                limit: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '0'
                result:
                  data:
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    cycle_id: '1'
                    staking_id: '1'
                    status: PENDING
                    account: 12345678-9999-1234-9999-123456789999
                    quantity: '1'
                    side: STAKE
                    create_timestamp_ms: '1668658093600'
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    cycle_id: '2'
                    staking_id: '2'
                    status: UNSTAKING
                    account: 12345678-9999-1234-9999-123456789999
                    quantity: '0.5'
                    side: UNSTAKE
                    create_timestamp_ms: '1668658093600'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenStakeResponse'
              example:
                id: '1'
                method: private/staking/get-open-stake
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-stake-history:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-stake-history
      description: Get stake/unstake request history
      operationId: privateStakingGetStakeHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetStakeHistory({\n  instrument_name: 'SOL.staked',\n  start_time: \"1691455454495\",\n  end_time: \"1691545277000\",\n  limit: '10',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_stake_history({\n    'instrument_name': 'SOL.staked',\n    'start_time': \"1691455454495\",\n    'end_time': \"1691545277000\",\n    'limit': '10',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetStakeHistoryRequest'
            example:
              id: '1'
              method: private/staking/get-stake-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
                start_time: '1691455454495'
                end_time: '1691545277000'
                limit: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '0'
                result:
                  data:
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    cycle_id: '1'
                    staking_id: '1'
                    status: COMPLETED
                    account: 12345678-9999-1234-9999-123456789999
                    quantity: '1'
                    side: STAKE
                    create_timestamp_ms: '1668658093600'
                  - instrument_name: SOL.staked
                    underlying_inst_name: SOL
                    cycle_id: '2'
                    staking_id: '2'
                    status: REJECTED
                    account: 12345678-9999-1234-9999-123456789999
                    quantity: '0.5'
                    side: UNSTAKE
                    create_timestamp_ms: '1668658093600'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetStakeHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-stake-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-reward-history:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-reward-history
      description: Get stake/unstake request history
      operationId: privateStakingGetRewardHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetRewardHistory({\n  instrument_name: 'SOL.staked',\n  start_time: \"1691455454495\",\n  end_time: \"1691545277000\",\n  limit: '10',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_reward_history({\n    'instrument_name': 'SOL.staked',\n    'start_time': \"1691455454495\",\n    'end_time': \"1691545277000\",\n    'limit': '10',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetRewardHistoryRequest'
            example:
              id: '1'
              method: private/staking/get-reward-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: SOL.staked
                start_time: '1691455454495'
                end_time: '1691545277000'
                limit: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '0'
                result:
                  data:
                  - staking_inst_name: SOL.staked
                    underlying_inst_name: SOL
                    reward_inst_name: SOL.staked
                    reward_quantity: '123.4567'
                    staked_balance: '1234567'
                    event_timestamp_ms: '1667795832609'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetRewardHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-reward-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/convert:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/convert
      description: Create a request to convert between staked token with liquid staking token.
      operationId: privateStakingConvert
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingConvert({\n  from_instrument_name: 'ETH.staked',\n  to_instrument_name: 'CDCETH',\n  expected_rate: '1.0203',\n  from_quantity: '3.14159265',\n  slippage_tolerance_bps: '3',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_convert({\n    'from_instrument_name': 'ETH.staked',\n    'to_instrument_name': 'CDCETH',\n    'expected_rate': '1.0203',\n    'from_quantity': '3.14159265',\n    'slippage_tolerance_bps': '3',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingConvertRequest'
            example:
              id: '1'
              method: private/staking/convert
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                from_instrument_name: ETH.staked
                to_instrument_name: CDCETH
                expected_rate: '1.0203'
                from_quantity: '3.14159265'
                slippage_tolerance_bps: '3'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '0'
                result:
                  from_instrument_name: ETH.staked
                  to_instrument_name: CDCETH
                  expected_rate: '1.0203'
                  from_quantity: '3.14159265'
                  slippage_tolerance_bps: '3'
                  convert_id: '1'
                  reason: NO_ERROR
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingConvertResponse'
              example:
                id: '1'
                method: private/staking/convert
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-open-convert:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-open-convert
      description: Get convert request that status is not in final state.
      operationId: privateStakingGetOpenConvert
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetOpenConvert({\n  start_time: \"1691455454495\",\n  end_time: \"1691545277000\",\n  limit: '10',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_open_convert({\n    'start_time': \"1691455454495\",\n    'end_time': \"1691545277000\",\n    'limit': '10',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetOpenConvertRequest'
            example:
              id: '1'
              method: private/staking/get-open-convert
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                start_time: '1691455454495'
                end_time: '1691545277000'
                limit: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '0'
                result:
                  data:
                  - from_instrument_name: ETH.staked
                    to_instrument_name: CDCETH
                    expected_rate: '1.0203'
                    from_quantity: '3.14159265'
                    slippage_tolerance_bps: '3'
                    actual_rate: '1.0203'
                    to_quantity: '3.14159265'
                    convert_id: '1'
                    status: COMPLETED
                    create_timestamp_ms: '1688140984005'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetOpenConvertResponse'
              example:
                id: '1'
                method: private/staking/get-open-convert
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/staking/get-convert-history:
    post:
      tags:
      - Staking
      x-apply-to:
      - rest
      summary: private/staking/get-convert-history
      description: Get convert request history
      operationId: privateStakingGetConvertHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateStakingGetConvertHistory({\n  start_time: \"1691455454495\",\n  end_time: \"1691545277000\",\n  limit: '10',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_staking_get_convert_history({\n    'start_time': \"1691455454495\",\n    'end_time': \"1691545277000\",\n    'limit': '10',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStakingGetConvertHistoryRequest'
            example:
              id: '1'
              method: private/staking/get-convert-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                start_time: '1691455454495'
                end_time: '1691545277000'
                limit: '10'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '0'
                result:
                  data:
                  - from_instrument_name: ETH.staked
                    to_instrument_name: CDCETH
                    expected_rate: '1.0203'
                    from_quantity: '3.14159265'
                    slippage_tolerance_bps: '3'
                    actual_rate: '1.0203'
                    to_quantity: '3.14159265'
                    convert_id: '1'
                    status: COMPLETED
                    create_timestamp_ms: '1688140984005'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStakingGetConvertHistoryResponse'
              example:
                id: '1'
                method: private/staking/get-convert-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateStakingStakeResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingStakeResponse
    PrivateStakingStakeRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingStakeRequest
    PrivateStakingGetOpenConvertRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetOpenConvertRequest
    PrivateStakingGetRewardHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetRewardHistoryRequest
    PublicStakingGetConversionRateRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PublicStakingGetConversionRateRequest
    PrivateStakingUnstakeRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingUnstakeRequest
    PrivateStakingGetStakeHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakeHistoryResponse
    PrivateStakingGetStakingInstrumentsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakingInstrumentsResponse
    PrivateStakingGetStakeHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakeHistoryRequest
    PrivateStakingGetOpenConvertResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetOpenConvertResponse
    PrivateStakingConvertRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingConvertRequest
    PrivateStakingGetConvertHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetConvertHistoryRequest
    PrivateStakingConvertResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingConvertResponse
    PublicStakingGetConversionRateResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PublicStakingGetConversionRateResponse
    PrivateStakingGetStakingInstrumentsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakingInstrumentsRequest
    PrivateStakingUnstakeResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingUnstakeResponse
    PrivateStakingGetRewardHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetRewardHistoryResponse
    PrivateStakingGetOpenStakeResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetOpenStakeResponse
    PrivateStakingGetStakingPositionResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakingPositionResponse
    PrivateStakingGetOpenStakeRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetOpenStakeRequest
    PrivateStakingGetStakingPositionRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetStakingPositionRequest
    PrivateStakingGetConvertHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateStakingGetConvertHistoryResponse
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contract** hierarchy using REST polling with `since` and `cursor` parameters.\n\n**Goal:**\n- Build a 3-level navigation hierarchy: Series → Event → Contract\n- Keep data up-to-date via continuous REST polling\n\n**Procedure:**\n\n1. **Initialize tracking variables:**\n   ```\n   events_last_modified = 0\n   instruments_last_modified = 0\n   ```\n\n2. **Fetch events with changes:**\n   ```\n   GET /dcm/v1/public/get-events?since={events_last_modified}\n   ```\n   Paginate using `cursor` until all pages are retrieved.\n\n3. **For each event, fetch associated instruments:**\n   ```\n   GET /dcm/v1/public/get-instruments?event_symbol={symbol}&since={instruments_last_modified}\n   ```\n   This can be done in parallel for multiple events. Paginate each using `cursor`.\n\n4. **Build the hierarchy from instrument metadata:**\n   - **Series level:** Group by `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)`\n   - **Event level:** Group by `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE`\n   - **Contract level:** Individual instrument records\n\n5. **Update tracking variables:**\n   Record the maximum `last_updated_time` from events and instruments for the next polling cycle.\n\n6. **Sleep and repeat:**\n   Wait for your desired polling interval, then return to step 2 with the updated `since` values.\n\nThis approach ensures you only fetch changed records on subsequent cycles, minimizing API calls and data transfer.\n\n### Full Meta Data Reference\n\nFor the complete metadata specification, please refer to [FIX Document Pack > Prediction Market Appendix](/docs/api/fix/fix-introduction) for details.\n"
- name: Instrument Status Updates
  slug: instrument-status-updates
  x-guide: instrument-status-updates
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Instrument Status Updates


    Two additional endpoints provide real-time visibility into instrument state changes:


    | Endpoint | Description |

    |----------|-------------|

    | [`public/get-instrument-lifecycle-states`](/docs/api/rest/public-get-instrument-lifecycle-states) | Track lifecycle state transitions (e.g., `Suspended` → `Closed`) |

    | [`public/get-instrument-market-status`](/docs/api/rest/public-get-instrument-market-status) | Track market trading status changes (e.g., `OPEN` → `CLOSED`) |


    Both endpoints support the same pagination pattern (`since`, `cursor`, `limit`) and can be filtered by `event_symbol` for efficient parallel loading.


    ### Lifecycle States vs Market Status


    - **Lifecycle states** represent the instrument''s position in its overall lifecycle (e.g., Active, Suspended, Closed). Use this to determine if an instrument can potentially be traded or has reached end-of-life.

    - **Market status** indicates whether the instrument is currently open for trading. An instrument may be in an Active lifecycle state but have a Closed market status.


    ### Parallel Loading by Event


    For efficient data loading, fetch status updates per event in parallel:


    ```

    # For each event, fetch lifecycle and market status in parallel

    GET /dcm/v1/public/get-instrument-lifecycle-states?event_symbol={event_symbol}&since={last_updated_time}

    GET /dcm/v1/public/get-instrument-market-status?event_symbol={event_symbol}&since={last_updated_time}

    ```


    Since instruments within the same event typically change state around the same time (e.g., when a game ends), filtering by `event_symbol` enables effective parallelism across events.

    '
- name: Settlement Rules and Languages
  slug: settlement-rules-laguages
  x-guide: settlement-rules-laguages
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Settlement Rules and Languages


    Settlement rules and languages define how prediction markets resolve. This data is available via Excel file from the support team.


    ### Excel Schema


    The settlement data file contains the following columns:


    | Column | Description |

    |--------|-------------|

    | **Market Title** | Human-readable name of the prediction market |

    | **Date Added** | Date the market was added to the platform |

    | **Tradeable Symbol** | Instrument symbol (e.g., `NX.F.OPT.ELECT-CALGOV.O.1.x`) |

    | **Market Close (ET)** | Market closing time in Eastern Time |

    | **Projected Payout** | Expected payout timing (e.g., "30 minutes after closing") |

    | **Settlement Language** | Full settlement terms including resolution criteria and source agencies |

    | **Rule Number** | CDNA Rulebook rule reference (e.g., 14.62, 14.64, 14.68) |

    | **Rule** | Rule name (e.g., "ELECTION OUTCOME EVENT CENTI CONTRACT") |

    | **Rule Source** | Source agencies for resolution (e.g., AP, Reuters, major news networks) |

    | **Trading Prohibitions** | Restrictions on who may trade (e.g., source agency employees) |

    | **Status** | Market status (Active, Inactive, etc.) |


    ### How to Obtain


    Contact the support team to request the latest settlement rules and languages file. Updates are provided when markets are added or settlement terms change.


    ### Settlement Rules API


    The REST API provides programmatic access to settlement rules and languages.


    #### Available Endpoints


    | Method | Description | API Reference |

    |--------|-------------|---------------|

    | [`public/settlement-rules`](/docs/api/rest/public-get-settlement-rules) | Returns all settlement rules with their source agencies and trading prohibitions | [View &rarr;](/docs/api/rest/public-get-settlement-rules) |

    | [`public/payout-projections`](/docs/api/rest/public-get-payout-projections) | Returns all payout projection timing descriptions | [View &rarr;](/docs/api/rest/public-get-payout-projections) |

    | [`public/event-settlement-description/events/{event_symbol}`](/docs/api/rest/public-get-event-settlement-description-by-event) | Returns realized settlement descriptions for all instruments under a specific event | [View &rarr;](/docs/api/rest/public-get-event-settlement-description-by-event) |


    ### Loading Settlement Data


    Settlement rules and payout projections are reference data that change infrequently. Load them once at startup and refresh periodically.


    #### Initial Load


    Fetch all reference data in parallel:


    ```

    GET /dcm/v1/public/settlement-rules

    GET /dcm/v1/public/payout-projections

    ```


    Build lookup maps keyed by `settlement_rule_code` and `payout_projection_code` for efficient access when processing event settlement descriptions.


    #### Loading Settlement Descriptions


    Settlement descriptions are loaded per event. For each event from `public/get-events`, fetch the settlement descriptions:


    ```

    GET /dcm/v1/public/event-settlement-description/events/FIFA-00001-260714-M

    ```


    You can fetch multiple events in parallel. The response includes the realized `settlement_description` text for each instrument, along with the underlying `settlement_definition` template. Use the `settlement_rule_code` and `payout_projection_code` to join with your reference data lookup maps.

    '
- name: Prediction Market Data
  slug: prediction-market-data
  x-guide: prediction-market-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Prediction Market Data


    Prediction market data is available through two channels:


    ### FIX Trading and Market Data


    **Best for:** Trading applications


    Ultra Low Latency market data with minimal latency, designed for trading applications.


    - Order book snapshots and incremental updates

    - Trade execution reports

    - Instrument reference data


    You can flexibility build analytics logic based on the real time raw market data: probability calculation, spread computation, etc. Most B2B trading partners use this approach.


    [View FIX Trading and Market Data API Documentation &rarr;](/docs/api/fix/fix-introduction)


    ### Non Trading Prediction Market Data


    **Best for:** Marketing & content sites


    Pre-computed, enriched market data for marketing sites, news portals, and content platforms.


    - Pre-calculated probability and spread values

    - Events as first-class entities with market groupings

    - Full-text search across markets and events

    - Rich metadata (descriptions, categories, resolution criteria)


    Intended for display and content purposes only, may not be optimised for trading.


    [View Non Trading Prediction Market Data API Documentation &rarr;](https://data.crypto.com/)

    '
