openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 Advanced Order Management API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: Advanced Order Management
  description: Advanced Order Management provides trigger orders and multi-leg execution strategies beyond basic LIMIT and MARKET orders.
paths:
  /private/advanced/create-order:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/create-order
      description: 'Creates a new BUY or SELL trigger order on the Exchange.


        `type` must be STOP_LOSS, STOP_LIMIT, TAKE_PROFIT or TAKE_PROFIT_LIMIT.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advanced.order` subscription can be used to check if the orders are successfully created.


        **Helpful information:**

        - STOP_LIMIT and TAKE_PROFIT_LIMIT will execute a LIMIT order when the ref_price is reached.

        - STOP_LOSS and TAKE_PROFIT will execute a MARKET order when the ref_price is reached.


        **To create trigger orders based on ref_price vs. the reference price (ref_price_type):**

        - ref_price below ref_price_type price: SELL STOP_LOSS and STOP_LIMIT, BUY TAKE_PROFIT and TAKE_PROFIT_LIMIT

        - ref_price above ref_price_type price: BUY STOP_LOSS and STOP_LIMIT, SELL TAKE_PROFIT and TAKE_PROFIT_LIMIT


        **SpotAttach / DerivAttach:**

        - **Contingency type resolution**: Automatically resolved from instrument type - spot instruments → SPOT_ATTACH, derivative instruments → DERIV_ATTACH

        - **DerivAttach attach-to-order**: Use `attach_order_id` to attach TP/SL to an existing limit order

        - **DerivAttach attach-to-position**: Use `attach_isolation_id` to attach TP/SL directly to an existing position (> 0 for isolated position ID, 0 for cross-margin position). Requires REDUCE_ONLY in exec_inst.

        - **Standalone TP/SL**: For derivatives, if neither `attach_order_id` nor `attach_isolation_id` is specified, isolation is resolved from `isolation_id` parameter (if provided) or defaults to cross-margin'
      operationId: privateAdvancedCreateOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCreateOrder({\n  instrument_name: 'CRO_USD',\n  side: 'SELL',\n  type: 'STOP_LIMIT',\n  quantity: '10',\n  price: '0.12',\n  ref_price: '0.12',\n  client_oid: 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_create_order({\n    'instrument_name': 'CRO_USD',\n    'side': 'SELL',\n    'type': 'STOP_LIMIT',\n    'quantity': '10',\n    'price': '0.12',\n    'ref_price': '0.12',\n    'client_oid': 'c5f682ed-7108-4f1c-b755-972fcdca0f02',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCreateOrderRequest'
            example:
              method: private/advanced/create-order
              id: '6573'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1750385416548'
              params:
                instrument_name: CRO_USD
                side: SELL
                type: STOP_LIMIT
                quantity: '10'
                price: '0.12'
                ref_price: '0.12'
                client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '6573'
                method: private/advanced/create-order
                code: '0'
                result:
                  client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
                  order_id: '5755600460443882762'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '1'
                method: private/advanced/create-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '1'
                method: private/advanced/create-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '1'
                method: private/advanced/create-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '1'
                method: private/advanced/create-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderResponse'
              example:
                id: '1'
                method: private/advanced/create-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/amend-order:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/amend-order
      description: 'Amends an existing trigger order on the Exchange.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advanced.order` subscription can be used to check when the order is successfully amended.


        **Trigger Order Type Conversion:**

        - Set `new_price` to "0" → Convert trigger limit order to trigger market order

        - Set `new_price` to "> 0" → Convert trigger market order to trigger limit order'
      operationId: privateAdvancedAmendOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedAmendOrder({\n  order_id: '18342311',\n  new_ref_price: '46000.0',\n  new_quantity: '0.15',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_amend_order({\n    'order_id': '18342311',\n    'new_ref_price': '46000.0',\n    'new_quantity': '0.15',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedAmendOrderRequest'
            example:
              method: private/advanced/amend-order
              id: '1'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                order_id: '18342311'
                new_ref_price: '46000.0'
                new_quantity: '0.15'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '0'
                result:
                  order_id: '18342311'
                  client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedAmendOrderResponse'
              example:
                id: '1'
                method: private/advanced/amend-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/create-oco:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/create-oco
      description: 'Creates a One-cancels-the-Other (OCO) execution strategy on the Exchange.


        OCO execution strategy allows users to place a two-order strategy where one order automatically cancels the other when one of the orders is partially/fully executed. Users are able to place 2 orders - one LIMIT and one trigger order. Only one of the orders will be executed. The trigger order can either be a stop loss or take profit order. The OCO order type is only available for Spot trading pairs for now.


        This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check if the orders are successfully created.


        For the content of each order in order_list, please refer to `private/create-order` for details. One order must be `LIMIT`, the other order must be `STOP_LOSS`, `STOP_LIMIT`, `TAKE_PROFIT_LIMIT` or `TAKE_PROFIT`. For `ref_price_type` of the trigger order, only `MARK_PRICE` is supported for now.'
      operationId: privateAdvancedCreateOco
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCreateOco({\n  order_list: [\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'LIMIT', price: '93000', side: 'SELL' },\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'STOP_LOSS', ref_price: '80000', side: 'SELL' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_create_oco({\n    'order_list': [\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'LIMIT', 'price': '93000', 'side': 'SELL'},\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'STOP_LOSS', 'ref_price': '80000', 'side': 'SELL'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCreateOcoRequest'
            example:
              method: private/advanced/create-oco
              id: '123456789'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                order_list:
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: LIMIT
                  price: '93000'
                  side: SELL
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: STOP_LOSS
                  ref_price: '80000'
                  side: SELL
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1661331443'
                method: private/advanced/create-oco
                code: '0'
                result:
                  list_id: '6498090546073120100'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1'
                method: private/advanced/create-oco
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1'
                method: private/advanced/create-oco
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1'
                method: private/advanced/create-oco
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1'
                method: private/advanced/create-oco
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOcoResponse'
              example:
                id: '1'
                method: private/advanced/create-oco
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-oco:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-oco
      description: Cancel an OCO order on the Exchange. This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check when each of the orders is successfully cancelled.
      operationId: privateAdvancedCancelOco
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelOco({\n  list_id: '4421958062479290999',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_oco({\n    'list_id': '4421958062479290999',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelOcoRequest'
            example:
              method: private/advanced/cancel-oco
              id: '1234'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                list_id: '4421958062479290999'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1661328073'
                method: private/advanced/cancel-oco
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oco
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oco
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oco
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oco
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOcoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oco
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/create-oto:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/create-oto
      description: 'Creates a One-triggers-the-Other (OTO) execution strategy on the Exchange.


        OTO execution strategy allows users to place a two-order strategy where one order automatically triggers the other when the first order is fully executed. Users are able to place a limit or market order with a trigger order, and only when the primary order is fully executed, the trigger order will take effect. The trigger order can either be a stop loss or take profit order.


        **SpotAttach / DerivAttach:** This API creates SpotAttach (for spot instruments) or DerivAttach (for derivative instruments) order types. The contingency type is automatically resolved from the instrument type. With 2 legs (1 limit/market + 1 trigger), it follows OTO behavior.

        - **SpotAttach**: Flexible - you can later attach additional TP/SL using `private/advanced/create-order` with `attach_order_id`, effectively converting it to OTOCO behavior. You can also cancel individual legs using `private/advanced/cancel-order` and reattach new ones.

        - **DerivAttach**: For derivatives, the primary leg may specify `isolation_id`, `leverage`, `isolated_margin_amount`, and `exec_inst` may include ISOLATED_MARGIN. Trigger legs inherit the isolation mode from the parent leg.


        This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check if the orders are successfully created.


        For the content of each order in order_list, please refer to `private/create-order` for details. One order must be `LIMIT` or `MARKET`, and the other must be `STOP_LOSS`, `STOP_LIMIT`, `TAKE_PROFIT_LIMIT` or `TAKE_PROFIT`. The `ref_price_type` for the trigger order supports `MARK_PRICE` (default), `INDEX_PRICE`, and `LAST_PRICE`.'
      operationId: privateAdvancedCreateOto
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCreateOto({\n  order_list: [\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'LIMIT', price: '93000', side: 'BUY' },\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'STOP_LOSS', ref_price: '80000', side: 'SELL' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_create_oto({\n    'order_list': [\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'LIMIT', 'price': '93000', 'side': 'BUY'},\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'STOP_LOSS', 'ref_price': '80000', 'side': 'SELL'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCreateOtoRequest'
            example:
              method: private/advanced/create-oto
              id: '123456789'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                order_list:
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: LIMIT
                  price: '93000'
                  side: BUY
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: STOP_LOSS
                  ref_price: '80000'
                  side: SELL
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1661331443'
                method: private/advanced/create-oto
                code: '0'
                result:
                  list_id: '6498090546073120100'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1'
                method: private/advanced/create-oto
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1'
                method: private/advanced/create-oto
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1'
                method: private/advanced/create-oto
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1'
                method: private/advanced/create-oto
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtoResponse'
              example:
                id: '1'
                method: private/advanced/create-oto
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-oto:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-oto
      description: 'Cancel a SPOT_ATTACH or DERIV_ATTACH order on the Exchange. This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check when each of the orders is successfully cancelled.


        **Note:** This API can also be used to cancel SpotAttach / DerivAttach orders regardless of the number of legs (2 or 3). Both `cancel-oto` and `cancel-otoco` can be used interchangeably to cancel SpotAttach / DerivAttach orders by `list_id`.'
      operationId: privateAdvancedCancelOto
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelOto({\n  list_id: '4421958062479290999',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_oto({\n    'list_id': '4421958062479290999',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelOtoRequest'
            example:
              method: private/advanced/cancel-oto
              id: '1234'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                list_id: '4421958062479290999'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1661328073'
                method: private/advanced/cancel-oto
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oto
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oto
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oto
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oto
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-oto
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/create-otoco:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/create-otoco
      description: 'Creates a One-Triggers-a-One-Cancels-the-Other (OTOCO) execution strategy on the Exchange.


        OTOCO execution strategy allows users to place a three-order strategy where one order automatically triggers the other two when the first order is fully executed. Users are able to place a limit or market order with two trigger orders, and only when the primary order is fully executed, the two trigger orders will take effect. The two trigger orders must be one stop loss and one take profit orders.


        **SpotAttach / DerivAttach:** This API creates SpotAttach (for spot instruments) or DerivAttach (for derivative instruments) order types. The contingency type is automatically resolved from the instrument type. With 3 legs (1 limit/market + 2 triggers), it follows OTOCO behavior.

        - **SpotAttach**: When either one of the two trigger orders is executed, the other is automatically canceled (OCO behavior). SpotAttach orders are flexible - you can cancel one of the TP/SL legs using `private/advanced/cancel-order`, effectively converting it to OTO behavior. You can also reattach new TP/SL using `private/advanced/create-order` with `attach_order_id`.

        - **DerivAttach**: For derivatives, the two trigger legs are independent - one firing does NOT cancel the other (unlike SpotAttach). The primary leg may specify `isolation_id`, `leverage`, `isolated_margin_amount`, and `exec_inst` may include ISOLATED_MARGIN. Trigger legs inherit the isolation mode from the parent leg.


        This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check if the orders are successfully created.


        For the content of each order in order_list, please refer to `private/create-order` for details. One order must be `LIMIT` or `MARKET`, and for the two trigger orders, one must be `STOP_LOSS` or `STOP_LIMIT`, and the other one must be `TAKE_PROFIT` or `TAKE_PROFIT_LIMIT`. The `ref_price_type` for the trigger orders supports `MARK_PRICE` (default), `INDEX_PRICE`, and `LAST_PRICE`.'
      operationId: privateAdvancedCreateOtoco
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCreateOtoco({\n  order_list: [\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'LIMIT', price: '93000', side: 'BUY' },\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'STOP_LOSS', ref_price: '80000', side: 'SELL' },\n    { instrument_name: 'BTCUSD', quantity: '0.1', type: 'TAKE_PROFIT', ref_price: '108000', side: 'SELL' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_create_otoco({\n    'order_list': [\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'LIMIT', 'price': '93000', 'side': 'BUY'},\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'STOP_LOSS', 'ref_price': '80000', 'side': 'SELL'},\n        {'instrument_name': 'BTCUSD', 'quantity': '0.1', 'type': 'TAKE_PROFIT', 'ref_price': '108000', 'side': 'SELL'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCreateOtocoRequest'
            example:
              method: private/advanced/create-otoco
              id: '123456789'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                order_list:
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: LIMIT
                  price: '93000'
                  side: BUY
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: STOP_LOSS
                  ref_price: '80000'
                  side: SELL
                - instrument_name: BTCUSD
                  quantity: '0.1'
                  type: TAKE_PROFIT
                  ref_price: '108000'
                  side: SELL
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1661331443'
                method: private/advanced/create-otoco
                code: '0'
                result:
                  list_id: '6498090546073120100'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1'
                method: private/advanced/create-otoco
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1'
                method: private/advanced/create-otoco
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1'
                method: private/advanced/create-otoco
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1'
                method: private/advanced/create-otoco
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOtocoResponse'
              example:
                id: '1'
                method: private/advanced/create-otoco
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-otoco:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-otoco
      description: 'Cancel a SPOT_ATTACH or DERIV_ATTACH order on the Exchange. This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check when each of the orders is successfully cancelled.


        **Note:** This API can also be used to cancel SpotAttach / DerivAttach orders regardless of the number of legs (2 or 3). Both `cancel-oto` and `cancel-otoco` can be used interchangeably to cancel SpotAttach / DerivAttach orders by `list_id`.'
      operationId: privateAdvancedCancelOtoco
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelOtoco({\n  list_id: '4421958062479290999',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_otoco({\n    'list_id': '4421958062479290999',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelOtocoRequest'
            example:
              method: private/advanced/cancel-otoco
              id: '1234'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '123456789000'
              params:
                list_id: '4421958062479290999'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1661328073'
                method: private/advanced/cancel-otoco
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-otoco
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-otoco
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-otoco
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-otoco
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOtocoResponse'
              example:
                id: '1'
                method: private/advanced/cancel-otoco
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-order:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-order
      description: 'Cancel an individual order of a OTO/OTOCO order on the Exchange (asynchronous).


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advance.order` subscription can be used to check when the order is successfully canceled.'
      operationId: privateAdvancedCancelOrder
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelOrder({\n  order_id: '18342311',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_order({\n    'order_id': '18342311',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelOrderRequest'
            example:
              id: '1'
              nonce: '1610905028000'
              method: private/advanced/cancel-order
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params:
                order_id: '18342311'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '0'
                message: NO_ERROR
                result:
                  client_oid: c5f682ed-7108-4f1c-b755-972fcdca0f02
                  order_id: '18342311'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-all-orders:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-all-orders
      description: 'Cancels all OTO/OTOCO orders for a particular instrument/pair (asynchronous).


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advance.order` subscription can be used to check when the order is successfully canceled.'
      operationId: privateAdvancedCancelAllOrders
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelAllOrders({\n  instrument_name: 'BTC_USD',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_all_orders({\n    'instrument_name': 'BTC_USD',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersRequest'
            example:
              id: '1'
              nonce: '1611169184000'
              method: private/advanced/cancel-all-orders
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params:
                instrument_name: BTC_USD
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelAllOrdersResponse'
              example:
                id: '1'
                method: private/advanced/cancel-all-orders
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/get-open-orders:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      summary: private/advanced/get-open-orders
      description: Gets all open orders for OTO/OTOCO orders for a particular instrument.
      operationId: privateAdvancedGetOpenOrders
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedGetOpenOrders({\n  instrument_name: 'BTC_USD',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_get_open_orders({\n    'instrument_name': 'BTC_USD',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersRequest'
            example:
              id: '1'
              method: private/advanced/get-open-orders
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: BTC_USD
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '0'
                result:
                  data:
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848525'
                    client_oid: '1613571154900'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    exec_inst: []
                    quantity: '0.0100'
                    limit_price: '50000.0'
                    order_value: '500.000000'
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: ACTIVE
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '1'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848526'
                    client_oid: '1613571154901'
                    order_type: STOP_LOSS
                    time_in_force: GOOD_TILL_CANCEL
                    side: SELL
                    exec_inst: []
                    quantity: '0.0100'
                    ref_price: '45000.00'
                    ref_price_type: MARK_PRICE
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: ACTIVE
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '2'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848526'
                    client_oid: '1613571154901'
                    order_type: TAKE_PROFIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: SELL
                    exec_inst: []
                    quantity: '0.0100'
                    ref_price: '55000.00'
                    ref_price_type: MARK_PRICE
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: ACTIVE
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '3'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOpenOrdersResponse'
              example:
                id: '1'
                method: private/advanced/get-open-orders
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/get-order-detail:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      summary: private/advanced/get-order-detail
      description: Gets detail of a single advanced order by `order_id` or `client_oid`.
      operationId: privateAdvancedGetOrderDetail
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedGetOrderDetail({\n  order_id: '19848525',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_get_order_detail({\n    'order_id': '19848525',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailRequest'
            example:
              id: '1'
              method: private/advanced/get-order-detail
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                order_id: '19848525'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '0'
                result:
                  account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                  order_id: '19848525'
                  client_oid: '1613571154900'
                  order_type: LIMIT
                  time_in_force: GOOD_TILL_CANCEL
                  side: BUY
                  exec_inst: []
                  quantity: '0.0100'
                  limit_price: '50000.0'
                  order_value: '500.000000'
                  maker_fee_rate: '0.000250'
                  taker_fee_rate: '0.000400'
                  avg_price: '0.0'
                  cumulative_quantity: '0.0000'
                  cumulative_value: '0.000000'
                  cumulative_fee: '0.000000'
                  status: ACTIVE
                  update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                  order_date: '2021-02-17'
                  instrument_name: BTCUSD
                  fee_instrument_name: USD
                  list_id: '6498090546073120199'
                  contingency_type: OTO
                  leg_id: '2'
                  create_time: '1613575617173'
                  create_time_ns: '1613575617173123456'
                  update_time: '1613575617173'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-detail
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/get-order-history:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      summary: private/advanced/get-order-history
      description: 'Gets the order history of OTO/OTOCO orders for a particular instrument.


        Users should use `user.advance.order` to keep track of real-time order updates, and `private/advanced/get-order-history` should primarily be used for recovery; typically when the websocket is disconnected.'
      operationId: privateAdvancedGetOrderHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedGetOrderHistory({\n  instrument_name: 'BTC_USD',\n  start_time: \"1610905028000081486\",\n  end_time: \"1613570791058211357\",\n  limit: \"20\",\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_get_order_history({\n    'instrument_name': 'BTC_USD',\n    'start_time': \"1610905028000081486\",\n    'end_time': \"1613570791058211357\",\n    'limit': \"20\",\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryRequest'
            example:
              id: '1'
              method: private/advanced/get-order-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1739923200000'
              params:
                instrument_name: BTC_USD
                start_time: '1610905028000081486'
                end_time: '1613570791058211357'
                limit: '20'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '0'
                result:
                  data:
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848525'
                    client_oid: '1613571154900'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    exec_inst: []
                    quantity: '0.0100'
                    limit_price: '50000.0'
                    order_value: '500.000000'
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0100'
                    cumulative_value: '500.000000'
                    cumulative_fee: '0.000000'
                    status: FILLED
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '1'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848526'
                    client_oid: '1613571154901'
                    order_type: STOP_LOSS
                    time_in_force: GOOD_TILL_CANCEL
                    side: SELL
                    exec_inst: []
                    quantity: '0.0100'
                    ref_price: '45000.00'
                    ref_price_type: MARK_PRICE
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0100'
                    cumulative_value: '450.0000'
                    cumulative_fee: '0.000000'
                    status: FILLED
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '2'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
                  - account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21a5
                    order_id: '19848526'
                    client_oid: '1613571154901'
                    order_type: TAKE_PROFIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: SELL
                    exec_inst: []
                    quantity: '0.0100'
                    ref_price: '55000.00'
                    ref_price_type: MARK_PRICE
                    maker_fee_rate: '0.000250'
                    taker_fee_rate: '0.000400'
                    avg_price: '0.0'
                    cumulative_quantity: '0.0000'
                    cumulative_value: '0.000000'
                    cumulative_fee: '0.000000'
                    status: CANCELED
                    update_user_id: fd797356-55db-48c2-a44d-157aabf702e8
                    order_date: '2021-02-17'
                    instrument_name: BTCUSD
                    fee_instrument_name: USD
                    list_id: '6498090546073120100'
                    contingency_type: OTOCO
                    leg_id: '3'
                    create_time: '1613575617173'
                    create_time_ns: '1613575617173123456'
                    update_time: '1613575617173'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderHistoryResponse'
              example:
                id: '1'
                method: private/advanced/get-order-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/create-order-list:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/create-order-list
      description: 'Creates multiple advanced orders in a single request.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advanced.order` subscription can be used to check when the orders are successfully created.'
      operationId: privateAdvancedCreateOrderList
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCreateOrderList({\n  order_list: [\n    { instrument_name: 'BTC_USD', side: 'SELL', type: 'STOP_LOSS', quantity: '0.1', ref_price: '45000.0', client_oid: 'my_sl_order' },\n    { instrument_name: 'BTC_USD', side: 'SELL', type: 'TAKE_PROFIT', quantity: '0.1', ref_price: '55000.0', client_oid: 'my_tp_order' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_create_order_list({\n    'order_list': [\n        {'instrument_name': 'BTC_USD', 'side': 'SELL', 'type': 'STOP_LOSS', 'quantity': '0.1', 'ref_price': '45000.0', 'client_oid': 'my_sl_order'},\n        {'instrument_name': 'BTC_USD', 'side': 'SELL', 'type': 'TAKE_PROFIT', 'quantity': '0.1', 'ref_price': '55000.0', 'client_oid': 'my_tp_order'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCreateOrderListRequest'
            example:
              method: private/advanced/create-order-list
              id: '1'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                order_list:
                - instrument_name: BTC_USD
                  side: SELL
                  type: STOP_LOSS
                  quantity: '0.1'
                  ref_price: '45000.0'
                  client_oid: my_sl_order
                - instrument_name: BTC_USD
                  side: SELL
                  type: TAKE_PROFIT
                  quantity: '0.1'
                  ref_price: '55000.0'
                  client_oid: my_tp_order
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '0'
                result:
                - index: 0
                  code: 0
                  order_id: '289991951579667814'
                  client_oid: my_sl_order
                - index: 1
                  code: 0
                  order_id: '289991951579667815'
                  client_oid: my_tp_order
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCreateOrderListResponse'
              example:
                id: '1'
                method: private/advanced/create-order-list
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/cancel-order-list:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/advanced/cancel-order-list
      description: 'Cancels multiple advanced orders in a single request.


        This call is asynchronous, so the response is simply a confirmation of the request.


        The `user.advanced.order` subscription can be used to check when the orders are successfully canceled.'
      operationId: privateAdvancedCancelOrderList
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedCancelOrderList({\n  order_list: [\n    { order_id: '289991951579667814' },\n    { client_oid: 'my_tp_order' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_cancel_order_list({\n    'order_list': [\n        {'order_id': '289991951579667814'},\n        {'client_oid': 'my_tp_order'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedCancelOrderListRequest'
            example:
              method: private/advanced/cancel-order-list
              id: '1'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                order_list:
                - order_id: '289991951579667814'
                - client_oid: my_tp_order
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '0'
                result:
                - index: 0
                  code: 0
                - index: 1
                  code: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedCancelOrderListResponse'
              example:
                id: '1'
                method: private/advanced/cancel-order-list
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/advanced/get-order-list-detail:
    post:
      tags:
      - Advanced Order Management
      x-apply-to:
      - rest
      summary: private/advanced/get-order-list-detail
      description: 'Gets order details for multiple OCO/SpotAttach orders by their list IDs.


        This endpoint allows batch querying of order information across different contingency order groups.'
      operationId: privateAdvancedGetOrderListDetail
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateAdvancedGetOrderListDetail({\n  list_id_list: ['4611686018427705308', '4611686018427705309'],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_advanced_get_order_list_detail({\n    'list_id_list': ['4611686018427705308', '4611686018427705309'],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailRequest'
            example:
              method: private/advanced/get-order-list-detail
              id: '1'
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                list_id_list:
                - '4611686018427705308'
                - '4611686018427705309'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '0'
                result:
                  data:
                  - account_id: 5207a638-b79a-4c13-9d41-323be7556c17
                    order_id: '289987352276367396'
                    client_oid: '289987352276367396'
                    order_type: LIMIT
                    time_in_force: GOOD_TILL_CANCEL
                    side: BUY
                    exec_inst: []
                    quantity: '0.01000'
                    limit_price: '100000.00'
                    order_value: '1000.0'
                    avg_price: '100000.00'
                    cumulative_quantity: '0.01000'
                    cumulative_value: '1000.0000000'
                    cumulative_fee: '-2.5'
                    status: FILLED
                    update_user_id: 5207a638-b79a-4c13-9d41-323be7556c17
                    order_date: '2025-09-09'
                    instrument_name: BTC_USD
                    fee_instrument_name: USD
                    list_id: '4611686018427705309'
                    contingency_type: SPOT_ATTACH
                    leg_id: '1'
                    attach_order_id: '5755600460443882762'
                    create_time: '1757409908295'
                    create_time_ns: '1757409908295832533'
                    update_time: '1757430498603'
                  - account_id: 5207a638-b79a-4c13-9d41-323be7556c17
                    order_id: '289987352276367397'
                    client_oid: '289987352276367397'
                    order_type: STOP_LOSS
                    time_in_force: GOOD_TILL_CANCEL
                    side: SELL
                    exec_inst: []
                    quantity: '0.01000'
                    limit_price: '0.00'
                    order_value: '900.0'
                    avg_price: '0.00'
                    cumulative_quantity: '0.00000'
                    cumulative_value: '0.0000000'
                    cumulative_fee: '0'
                    status: PENDING
                    update_user_id: 5207a638-b79a-4c13-9d41-323be7556c17
                    order_date: '2025-09-09'
                    instrument_name: BTC_USD
                    fee_instrument_name: USD
                    list_id: '4611686018427705309'
                    contingency_type: SPOT_ATTACH
                    leg_id: '2'
                    attach_order_id: '5755600460443882762'
                    ref_price: '90000.00'
                    ref_price_type: MARK_PRICE
                    create_time: '1757409908295'
                    create_time_ns: '1757409908295832533'
                    update_time: '1757409908295'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateAdvancedGetOrderListDetailResponse'
              example:
                id: '1'
                method: private/advanced/get-order-list-detail
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateAdvancedCreateOtocoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOtocoResponse
    PrivateAdvancedCancelOrderListRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOrderListRequest
    PrivateAdvancedCreateOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOrderResponse
    PrivateAdvancedAmendOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedAmendOrderResponse
    PrivateAdvancedCreateOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOrderRequest
    PrivateAdvancedGetOpenOrdersRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOpenOrdersRequest
    PrivateAdvancedCreateOtoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOtoResponse
    PrivateAdvancedCreateOrderListRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOrderListRequest
    PrivateAdvancedCancelOtoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOtoRequest
    PrivateAdvancedAmendOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedAmendOrderRequest
    PrivateAdvancedGetOrderDetailRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderDetailRequest
    PrivateAdvancedCancelOcoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOcoResponse
    PrivateAdvancedGetOrderHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderHistoryResponse
    PrivateAdvancedCreateOtocoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOtocoRequest
    PrivateAdvancedCancelOrderListResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOrderListResponse
    PrivateAdvancedCancelAllOrdersRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelAllOrdersRequest
    PrivateAdvancedCreateOrderListResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOrderListResponse
    PrivateAdvancedGetOrderDetailResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderDetailResponse
    PrivateAdvancedCancelOtocoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOtocoResponse
    PrivateAdvancedCancelOrderRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOrderRequest
    PrivateAdvancedCreateOcoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOcoResponse
    PrivateAdvancedCancelOtoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOtoResponse
    PrivateAdvancedCancelOrderResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOrderResponse
    PrivateAdvancedGetOrderListDetailRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderListDetailRequest
    PrivateAdvancedCancelOtocoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOtocoRequest
    PrivateAdvancedCancelOcoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelOcoRequest
    PrivateAdvancedCreateOtoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOtoRequest
    PrivateAdvancedGetOrderHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderHistoryRequest
    PrivateAdvancedGetOpenOrdersResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOpenOrdersResponse
    PrivateAdvancedCreateOcoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCreateOcoRequest
    PrivateAdvancedGetOrderListDetailResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedGetOrderListDetailResponse
    PrivateAdvancedCancelAllOrdersResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateAdvancedCancelAllOrdersResponse
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contract** hierarchy using REST polling with `since` and `cursor` parameters.\n\n**Goal:**\n- Build a 3-level navigation hierarchy: Series → Event → Contract\n- Keep data up-to-date via continuous REST polling\n\n**Procedure:**\n\n1. **Initialize tracking variables:**\n   ```\n   events_last_modified = 0\n   instruments_last_modified = 0\n   ```\n\n2. **Fetch events with changes:**\n   ```\n   GET /dcm/v1/public/get-events?since={events_last_modified}\n   ```\n   Paginate using `cursor` until all pages are retrieved.\n\n3. **For each event, fetch associated instruments:**\n   ```\n 
[...]
