openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 Fiat Wallet API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: Fiat Wallet
  description: Manages the user's fiat wallet.
paths:
  /private/fiat/fiat-access:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-access
      description: Retrieves fiat access information for a user account. Used by FCM/DCM brokers to check deposit and withdrawal permissions for different currencies and payment networks on behalf of their users.
      operationId: privateFiatFiatAccess
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatAccess({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_access({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatAccessRequest'
            example:
              id: '3'
              method: private/fiat/fiat-access
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1773372503821'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '3'
                method: private/fiat/fiat-access
                code: '0'
                result:
                  accesses:
                  - currency: USD
                    payment_network: us_ach
                    is_deposit_enable: true
                    is_withdraw_enable: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '1'
                method: private/fiat/fiat-access
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '1'
                method: private/fiat/fiat-access
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '1'
                method: private/fiat/fiat-access
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '1'
                method: private/fiat/fiat-access
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatAccessResponse'
              example:
                id: '1'
                method: private/fiat/fiat-access
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-deposit-info:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-deposit-info
      description: Retrieves fiat deposit information for the authenticated user. Returns bank details for depositing fiat currency with optional payment network filtering.
      operationId: privateFiatFiatDepositInfo
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatDepositInfo({\n  payment_networks: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_deposit_info({\n    'payment_networks': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatDepositInfoRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-deposit-info
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                payment_networks: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              examples:
                Example - usd_cubix:
                  value:
                    id: '123456'
                    method: private/fiat/fiat-deposit-info
                    code: '0'
                    result:
                      deposit_info_list:
                      - payment_network: usd_cubix
                        currency: USD
                        bank_details:
                          account_holder_name: null
                          bank_name: null
                          bank_address: null
                          bank_country: null
                          routing_number: null
                          account_number: null
                          recipient_name: null
                          recipient_address: null
                          bic_code: null
                          iban_code: null
                          reference_code: null
                          sort_code: null
                          cubix_partner_name: Crypto.com
                          cubix_account_name: Foris Dax Inc
                          cubix_account_id: 48e8431d-2026-41d4-a872-b1ed00db8626
                          cubix_account_number: '5859'
                          account_type: null
                          meta: null
                Example - usd_swift:
                  value:
                    id: '0'
                    method: private/fiat/fiat-deposit-info
                    code: '0'
                    result:
                      deposit_info_list:
                      - payment_network: usd_swift
                        currency: USD
                        bank_details:
                          account_holder_name: null
                          bank_name: Customers Bank
                          bank_address: 701 Reading Avenue, West Reading, Pennsylvania 19611
                          bank_country: null
                          routing_number: 031302971
                          account_number: '5415859'
                          recipient_name: FORIS DAX LIMITED
                          recipient_address: P.O. BOX 31910, 20 GENESIS CLOSE GRAND CAYMAN
                          bic_code: CUESUS33
                          iban_code: null
                          reference_code: '676938157158298'
                          sort_code: null
                          cubix_partner_name: null
                          cubix_account_name: null
                          cubix_account_id: null
                          cubix_account_number: null
                          meta: null
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-info
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-info
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-info
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-info
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositInfoResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-info
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-deposit-history:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-deposit-history
      description: Retrieves paginated fiat deposit transaction history for the authenticated user.
      operationId: privateFiatFiatDepositHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatDepositHistory({\n  page: \"0\",\n  page_size: \"10\",\n  start_time: '1781126400000',\n  end_time: '1781127400000',\n  payment_networks: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_deposit_history({\n    'page': \"0\",\n    'page_size': \"10\",\n    'start_time': '1781126400000',\n    'end_time': '1781127400000',\n    'payment_networks': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-deposit-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                page: '0'
                page_size: '10'
                start_time: '1781126400000'
                end_time: '1781127400000'
                payment_networks: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              examples:
                Example - us_ach:
                  value:
                    id: '1'
                    method: private/fiat/fiat-deposit-history
                    code: '0'
                    result:
                      page: '0'
                      page_size: '2'
                      total: '41'
                      transaction_history_list:
                      - id: c2669ca7-35a2-464c-8114-2313912c6d76
                        currency: USD
                        amount: '100.0'
                        fee_currency: USD
                        fee_amount: '0.0'
                        payment_network: us_ach
                        status: completed
                        created_at: '1778140550953'
                        updated_at: '1778140573431'
                        completed_at: '1648669814953'
                        vendor_transaction_id: N89940DKZD
                      - id: f5527db9-c0ca-4d82-b3f8-4470c3398384
                        currency: USD
                        amount: '100.0'
                        fee_currency: USD
                        fee_amount: '0.0'
                        payment_network: us_ach
                        status: completed
                        created_at: '1778140412428'
                        updated_at: '1778140429199'
                        completed_at: '1648669814953'
                        vendor_transaction_id: F6KSNMQV0B
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatDepositHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-deposit-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-withdraw-history:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-withdraw-history
      description: Retrieves paginated fiat withdrawal transaction history for the authenticated user.
      operationId: privateFiatFiatWithdrawHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatWithdrawHistory({\n  page: \"0\",\n  page_size: \"10\",\n  start_time: '1781126400000',\n  end_time: '1781127400000',\n  payment_networks: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_withdraw_history({\n    'page': \"0\",\n    'page_size': \"10\",\n    'start_time': '1781126400000',\n    'end_time': '1781127400000',\n    'payment_networks': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-withdraw-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                page: '0'
                page_size: '10'
                start_time: '1781126400000'
                end_time: '1781127400000'
                payment_networks: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              examples:
                Example - us_ach:
                  value:
                    id: '1'
                    method: private/fiat/fiat-withdraw-history
                    code: '0'
                    result:
                      page: '0'
                      page_size: '2'
                      total: '132'
                      transaction_history_list:
                      - id: a6a41d92-1cdc-4dd3-b845-85fa203405a2
                        currency: USD
                        amount: '10.0'
                        fee_currency: USD
                        fee_amount: '1.0'
                        payment_network: us_ach
                        status: pending
                        created_at: '1778553420579'
                        updated_at: '1778553420643'
                      - id: fb372838-be75-4699-92c8-0db0efee6506
                        currency: USD
                        amount: '100.0'
                        fee_currency: USD
                        fee_amount: '1.0'
                        payment_network: us_ach
                        status: pending
                        created_at: '1778212310417'
                        updated_at: '1778212506975'
                        vendor_transaction_id: db0fee89-6ab7-4431-b715-798655891555
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-withdraw-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-withdraw-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-withdraw-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-withdraw-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse'
              example:
                id: '1'
                method: private/fiat/fiat-withdraw-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-create-withdraw:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-create-withdraw
      description: Creates a new fiat withdrawal request for the authenticated user.
      operationId: privateFiatFiatCreateWithdraw
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatCreateWithdraw({\n  client_wid: 'c1d2e3f4-a5b6-7890-cdef-123456789abc',\n  account_id: 'bank-acct-uuid-001',\n  amount: '1000.00',\n  currency: 'USD',\n  payment_network: 'usd_swift',\n  intermediate_bank: {\n    bank_identifier_type: 'SWIFT',\n    bank_identifier_value: 'CHASUS33',\n    bank_name: 'JPMorgan Chase Bank',\n    address_1: '270 Park Avenue',\n    address_2: 'New York, NY 10017',\n  },\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_create_withdraw({\n    'client_wid': 'c1d2e3f4-a5b6-7890-cdef-123456789abc',\n    'account_id': 'bank-acct-uuid-001',\n    'amount': '1000.00',\n    'currency': 'USD',\n    'payment_network': 'usd_swift',\n    'intermediate_bank': {\n        'bank_identifier_type': 'SWIFT',\n        'bank_identifier_value': 'CHASUS33',\n        'bank_name': 'JPMorgan Chase Bank',\n        'address_1': '270 Park Avenue',\n        'address_2': 'New York, NY 10017',\n    },\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-create-withdraw
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                client_wid: c1d2e3f4-a5b6-7890-cdef-123456789abc
                account_id: bank-acct-uuid-001
                amount: '1000.00'
                currency: USD
                payment_network: usd_swift
                intermediate_bank:
                  bank_identifier_type: SWIFT
                  bank_identifier_value: CHASUS33
                  bank_name: JPMorgan Chase Bank
                  address_1: 270 Park Avenue
                  address_2: New York, NY 10017
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              examples:
                Example - usd (cubix):
                  summary: Example - usd (cubix)
                  value:
                    id: '123456'
                    method: private/fiat/fiat-create-withdraw
                    code: '0'
                    msg: success
                    result:
                      id: withdraw_789012345
                      client_wid: c1d2e3f4-a5b6-7890-cdef-123456789abc
                      status: pending
                      payment_network: usd_cubix
                      currency: USD
                      amount: '1000.00'
                      fee_currency: USD
                      fee_amount: '25.00'
                Example - usd (swift):
                  summary: Example - usd (swift)
                  value:
                    id: '0'
                    method: private/fiat/fiat-create-withdraw
                    code: '0'
                    result:
                      id: 27f3b781-e8e4-4ae9-871e-0edd7f9deba9
                      client_wid: c1d2e3f4-a5b6-7890-cdef-123456789abc
                      status: debit_processing
                      payment_network: usd_swift
                      currency: USD
                      amount: '500.0'
                      fee_currency: USD
                      fee_amount: '45.0'
                Example - eur (openpayd):
                  summary: Example - eur (openpayd)
                  value:
                    id: '0'
                    method: private/fiat/fiat-create-withdraw
                    code: '0'
                    result:
                      id: e21358d3-232a-4a7f-9a0d-d15bcf5ca0c9
                      client_wid: c1d2e3f4-a5b6-7890-cdef-123456789abc
                      status: debit_processing
                      payment_network: openpayd_exchange_sepa
                      currency: EUR
                      amount: '100.0'
                      fee_currency: EUR
                      fee_amount: '0.0'
                Example - aed:
                  summary: Example - aed
                  value:
                    id: '0'
                    method: private/fiat/fiat-create-withdraw
                    code: '0'
                    result:
                      id: 3f28eea1-81c0-4a1b-b807-342ff14ed373
                      client_wid: c1d2e3f4-a5b6-7890-cdef-123456789abc
                      status: debit_processing
                      payment_network: aed_ipi
                      currency: AED
                      amount: '105.0'
                      fee_currency: AED
                      fee_amount: '10.0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-withdraw
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-withdraw
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-withdraw
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-withdraw
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateWithdrawResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-withdraw
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-get-plaid-token:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-get-plaid-token
      description: Get a Plaid link token for the user. Must call this before initiating the Plaid Link flow on the frontend. The token is single-use and expires — a new token is generated each time.
      operationId: privateFiatFiatGetPlaidToken
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatGetPlaidToken({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_get_plaid_token({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenRequest'
            example:
              id: '10'
              method: private/fiat/fiat-get-plaid-token
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1773372503821'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '10'
                method: private/fiat/fiat-get-plaid-token
                code: '0'
                result:
                  link_token: link-sandbox-af1a0311-da53-4636-b754-dd15c7a2
                  expiration: '2026-03-18T20:00:00Z'
                  request_id: req-id-001
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-plaid-token
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-plaid-token
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-plaid-token
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-plaid-token
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-plaid-token
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-transaction-quota:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-transaction-quota
      description: Retrieves transaction quota information for a specific payment network.
      operationId: privateFiatFiatTransactionQuota
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatTransactionQuota({\n  payment_network: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_transaction_quota({\n    'payment_network': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-transaction-quota
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                payment_network: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              examples:
                Example - usd_cubix:
                  value:
                    id: '0'
                    method: private/fiat/fiat-transaction-quota
                    code: '0'
                    result:
                      details:
                        currency: USD
                        payment_network: usd_cubix
                        network_name: CUBIX
                        monthly_quota_in_usd:
                          currency: USD
                          amount: null
                        daily_quota_in_usd:
                          currency: USD
                          amount: '5000000.0'
                        used_monthly_quota_in_usd:
                          currency: USD
                          amount: '0.0'
                        used_daily_quota_in_usd:
                          currency: USD
                          amount: '0.0'
                        remaining_monthly_quota_in_usd:
                          currency: USD
                          amount: null
                        remaining_daily_quota_in_usd:
                          currency: USD
                          amount: '5000000.0'
                        minimum_withdrawal_amount_in_usd:
                          currency: USD
                          amount: '500.0'
                        monthly_quota:
                          currency: USD
                          amount: null
                        daily_quota:
                          currency: USD
                          amount: '5000000.0'
                        used_monthly_quota:
                          currency: USD
                          amount: '0.0'
                        used_daily_quota:
                          currency: USD
                          amount: '0.0'
                        remaining_monthly_quota:
                          currency: USD
                          amount: null
                        remaining_daily_quota:
                          currency: USD
                          amount: '5000000.0'
                        minimum_withdrawal_amount:
                          currency: USD
                          amount: '500.0'
                        currency_daily_quota:
                          currency: USD
                          amount: '10000000.0'
                        currency_monthly_quota:
                          currency: USD
                          amount: null
                        currency_used_daily_quota:
                          currency: USD
                          amount: '0.0'
                        currency_used_monthly_quota:
                          currency: USD
                          amount: '0.0'
                        currency_remaining_daily_quota:
                          currency: USD
                          amount: '10000000.0'
                        currency_remaining_monthly_quota:
                          currency: USD
                          amount: null
                        transactions_per_day: 10
                        transactions_per_month: 100
                        transactions_daily_count: 0
                        transactions_monthly_count: 0
                        remaining_transactions_daily_count: 10
                        remaining_transactions_monthly_count: 100
                        currency_transactions_per_day: 10
                        currency_transactions_per_month: 100
                        currency_transactions_daily_count: 0
                        currency_transactions_monthly_count: 0
                        currency_remaining_transactions_daily_count: 10
                        currency_remaining_transactions_monthly_count: 100
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-quota
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-quota
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-quota
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-quota
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionQuotaResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-quota
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-transaction-limit:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-transaction-limit
      description: Retrieves transaction limits for a specific payment network.
      operationId: privateFiatFiatTransactionLimit
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatTransactionLimit({\n  payment_network: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_transaction_limit({\n    'payment_network': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-transaction-limit
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                payment_network: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '0'
                method: private/fiat/fiat-transaction-limit
                code: '0'
                result:
                  deposit:
                    min_deposit_amount:
                      currency: USD
                      amount: '500'
                    daily_max_deposit_amount:
                      currency: USD
                      amount: null
                    monthly_max_deposit_amount:
                      currency: USD
                      amount: null
                    currency_daily_max_deposit_amount:
                      currency: USD
                      amount: null
                    currency_monthly_max_deposit_amount:
                      currency: USD
                      amount: null
                    daily_quota: 0
                    monthly_quota: 0
                    daily_transaction_count: 0
                    monthly_transaction_count: 0
                    currency_daily_transaction_count: 0
                    currency_monthly_transaction_count: 0
                    fee_amount:
                      currency: USD
                      amount: '0'
                    daily_max_transaction_count: 0
                    monthly_max_transaction_count: 0
                    currency_daily_max_transaction_count: 0
                    currency_monthly_max_transaction_count: 0
                  payment:
                    name: CUBIX
                    full_name: CUBIX
                    review_time_description: 1-2 working days
                    review_time:
                      min: '1'
                      max: '2'
                      unit: working days
                    bank_transfer_time_description: 1-4 working days
                    bank_transfer_time:
                      min: '1'
                      max: '4'
                      unit: working days
                    min_payment_amount:
                      currency: USD
                      amount: '500'
                    daily_max_payment_amount:
                      currency: USD
                      amount: '5000000'
                    monthly_max_payment_amount:
                      currency: USD
                      amount: null
                    auto_approve_max_payment_amount:
                      currency: USD
                      amount: '5000000'
                    currency_daily_max_payment_amount:
                      currency: USD
                      amount: '10000000'
                    currency_monthly_max_payment_amount:
                      currency: USD
                      amount: null
                    fee_amount:
                      currency: USD
                      amount: '0'
                    refund_fee_amount:
                      currency: USD
                      amount: '0'
                    daily_transaction_count: 0
                    monthly_transaction_count: 0
                    currency_daily_transaction_count: 0
                    currency_monthly_transaction_count: 0
                    daily_max_transaction_count: 0
                    monthly_max_transaction_count: 0
                    currency_daily_max_transaction_count: 0
                    currency_monthly_max_transaction_count: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-limit
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-limit
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-limit
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-limit
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatTransactionLimitResponse'
              example:
                id: '1'
                method: private/fiat/fiat-transaction-limit
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-create-bank-account:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-create-bank-account
      description: Link a bank account via Plaid for a user. Links the user's bank account to their profile for withdrawals using a Plaid integration payload.
      operationId: privateFiatFiatCreateBankAccount
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatCreateBankAccount({\n  plaid_account_id: 'abc123',\n  plaid_public_token: 'public-sandbox-xyz',\n  currency: 'USD',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_create_bank_account({\n    'plaid_account_id': 'abc123',\n    'plaid_public_token': 'public-sandbox-xyz',\n    'currency': 'USD',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountRequest'
            example:
              id: '7'
              method: private/fiat/fiat-create-bank-account
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1773372503821'
              params:
                plaid_account_id: abc123
                plaid_public_token: public-sandbox-xyz
                currency: USD
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '7'
                method: private/fiat/fiat-create-bank-account
                code: '0'
                result:
                  bank_accounts_list:
                  - id: bank-acct-uuid-001
                    status: completed
                    bank_name: Chase
                    currency: USD
                    account_holder_name: John Doe
                    account_identifier_value: '****6789'
                    supported_payment_networks:
                    - us_ach
                    created_at: 1773372503821
                    updated_at: 1773372503821
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-bank-account
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-bank-account
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-bank-account
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-bank-account
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatCreateBankAccountResponse'
              example:
                id: '1'
                method: private/fiat/fiat-create-bank-account
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/fiat/fiat-get-bank-accounts:
    post:
      tags:
      - Fiat Wallet
      x-apply-to:
      - rest
      summary: private/fiat/fiat-get-bank-accounts
      description: Retrieves user's bank accounts with optional payment network filtering.
      operationId: privateFiatFiatGetBankAccounts
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateFiatFiatGetBankAccounts({\n  payment_networks: 'usd_cubix',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_fiat_fiat_get_bank_accounts({\n    'payment_networks': 'usd_cubix',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsRequest'
            example:
              id: '123456'
              method: private/fiat/fiat-get-bank-accounts
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1640995200000'
              params:
                payment_networks: usd_cubix
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              examples:
                Example - usd_cubix:
                  value:
                    id: '123456'
                    method: private/fiat/fiat-get-bank-accounts
                    code: '0'
                    msg: success
                    result:
                      bank_accounts_list:
                      - ok: null
                        code: null
                        message: null
                        id: 4c662477-a16d-4c99-a27b-a492b592ed62
                        account_id: adb80cff-f420-469c-b439-4d90272bf1a1
                        user_uuid: f0857b97-0d47-5897-8b1f-e358725cf49c
                        status: completed
                        bank_name: Customers Bank
                        bank_city: ''
                        bank_country: US
                        bank_identifier_type: cubix_account_number_last_4_digits
                        bank_identifier_value: '****2565'
                        bank_account_holder_name: null
                        account_identifier_type: cubix_account_id
                        account_identifier_value: '****cc63'
                        account_holder_name: Smoke Test Co
                        account_type: null
                        currency: USD
                        verified_by: Cubix
                        reason: reason
                        supported_payment_networks:
                        - usd_cubix
                        withdrawal_payment_networks: null
                        payment_network_identifier_value: dbbb3eda-960f-4406-ae3c-b250010e7bef
                        bank_details:
                          institutional_street_address: null
                          bank_street_address: null
                          account_holder_address: null
                          bank_account_address: null
                          intermediate_bank: null
                          intermediate_bank_options: null
                        created_at: '1751126400000'
                        updated_at: '1751126400000'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-bank-accounts
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-bank-accounts
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-bank-accounts
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-bank-accounts
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFiatFiatGetBankAccountsResponse'
              example:
                id: '1'
                method: private/fiat/fiat-get-bank-accounts
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateFiatFiatWithdrawHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatWithdrawHistoryResponse
    PrivateFiatFiatGetPlaidTokenRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatGetPlaidTokenRequest
    PrivateFiatFiatCreateBankAccountResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatCreateBankAccountResponse
    PrivateFiatFiatGetBankAccountsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatGetBankAccountsResponse
    PrivateFiatFiatGetPlaidTokenResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatGetPlaidTokenResponse
    PrivateFiatFiatDepositHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatDepositHistoryResponse
    PrivateFiatFiatTransactionQuotaRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatTransactionQuotaRequest
    PrivateFiatFiatTransactionLimitRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatTransactionLimitRequest
    PrivateFiatFiatCreateBankAccountRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatCreateBankAccountRequest
    PrivateFiatFiatAccessResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatAccessResponse
    PrivateFiatFiatDepositInfoResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatDepositInfoResponse
    PrivateFiatFiatCreateWithdrawRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatCreateWithdrawRequest
    PrivateFiatFiatTransactionQuotaResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatTransactionQuotaResponse
    PrivateFiatFiatDepositHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatDepositHistoryRequest
    PrivateFiatFiatGetBankAccountsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatGetBankAccountsRequest
    PrivateFiatFiatDepositInfoRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatDepositInfoRequest
    PrivateFiatFiatTransactionLimitResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatTransactionLimitResponse
    PrivateFiatFiatAccessRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatAccessRequest
    PrivateFiatFiatCreateWithdrawResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatCreateWithdrawResponse
    PrivateFiatFiatWithdrawHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateFiatFiatWithdrawHistoryRequest
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contract** hierarchy using REST polling with `since` and `cursor` parameters.\n\n**Goal:**\n- Build a 3-level navigation hierarchy: Series → Event → Contract\n- Keep data up-to-date via continuous REST polling\n\n**Procedure:**\n\n1. **Initialize tracking variables:**\n   ```\n   events_last_modified = 0\n   instruments_last_modified = 0\n   ```\n\n2. **Fetch events with changes:**\n   ```\n   GET /dcm/v1/public/get-events?since={events_last_modified}\n   ```\n   Paginate using `cursor` until all pages are retrieved.\n\n3. **For each event, fetch associated instruments:**\n   ```\n   GET /dcm/v1/public/get-instruments?event_symbol={symbol}&since={instruments_last_modified}\n   ```\n   This can be done in parallel for multiple events. Paginate each using `cursor`.\n\n4. **Build the hierarchy from instrument metadata:**\n   - **Series level:** Group by `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)`\n   - **Event level:** Group by `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE`\n   - **Contract level:** Individual instrument records\n\n5. **Update tracking variables:**\n   Record the maximum `last_updated_time` from events and instruments for the next polling cycle.\n\n6. **Sleep and repeat:**\n   Wait for your desired polling interval, then return to step 2 with the updated `since` values.\n\nThis approach ensures you only fetch changed records on subsequent cycles, minimizing API calls and data transfer.\n\n### Full Meta Data Reference\n\nFor the complete metadata specification, please refer to [FIX Document Pack > Prediction Market Appendix](/docs/api/fix/fix-introduction) for details.\n"
- name: Instrument Status Updates
  slug: instrument-status-updates
  x-guide: instrument-status-updates
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Instrument Status Updates


    Two additional endpoints provide real-time visibility into instrument state changes:


    | Endpoint | Description |

    |----------|-------------|

    | [`public/get-instrument-lifecycle-states`](/docs/api/rest/public-get-instrument-lifecycle-states) | Track lifecycle state transitions (e.g., `Suspended` → `Closed`) |

    | [`public/get-instrument-market-status`](/docs/api/rest/public-get-instrument-market-status) | Track market trading status changes (e.g., `OPEN` → `CLOSED`) |


    Both endpoints support the same pagination pattern (`since`, `cursor`, `limit`) and can be filtered by `event_symbol` for efficient parallel loading.


    ### Lifecycle States vs Market Status


    - **Lifecycle states** represent the instrument''s position in its overall lifecycle (e.g., Active, Suspended, Closed). Use this to determine if an instrument can potentially be traded or has reached end-of-life.

    - **Market status** indicates whether the instrument is currently open for trading. An instrument may be in an Active lifecycle state but have a Closed market status.


    ### Parallel Loading by Event


    For efficient data loading, fetch status updates per event in parallel:


    ```

    # For each event, fetch lifecycle and market status in parallel

    GET /dcm/v1/public/get-instrument-lifecycle-states?event_symbol={event_symbol}&since={last_updated_time}

    GET /dcm/v1/public/get-instrument-market-status?event_symbol={event_symbol}&since={last_updated_time}

    ```


    Since instruments within the same event typically change state around the same time (e.g., when a game ends), filtering by `event_symbol` enables effective parallelism across events.

    '
- name: Settlement Rules and Languages
  slug: settlement-rules-laguages
  x-guide: settlement-rules-laguages
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Settlement Rules and Languages


    Settlement rules and languages define how prediction markets resolve. This data is available via Excel file from the support team.


    ### Excel Schema


    The settlement data file contains the following columns:


    | Column | Description |

    |--------|-------------|

    | **Market Title** | Human-readable name of the prediction market |

    | **Date Added** | Date the market was added to the platform |

    | **Tradeable Symbol** | Instrument symbol (e.g., `NX.F.OPT.ELECT-CALGOV.O.1.x`) |

    | **Market Close (ET)** | Market closing time in Eastern Time |

    | **Projected Payout** | Expected payout timing (e.g., "30 minutes after closing") |

    | **Settlement Language** | Full settlement terms including resolution criteria and source agencies |

    | **Rule Number** | CDNA Rulebook rule reference (e.g., 14.62, 14.64, 14.68) |

    | **Rule** | Rule name (e.g., "ELECTION OUTCOME EVENT CENTI CONTRACT") |

    | **Rule Source** | Source agencies for resolution (e.g., AP, Reuters, major news networks) |

    | **Trading Prohibitions** | Restrictions on who may trade (e.g., source agency employees) |

    | **Status** | Market status (Active, Inactive, etc.) |


    ### How to Obtain


    Contact the support team to request the latest settlement rules and languages file. Updates are provided when markets are added or settlement terms change.


    ### Settlement Rules API


    The REST API provides programmatic access to settlement rules and languages.


    #### Available Endpoints


    | Method | Description | API Reference |

    |--------|-------------|---------------|

    | [`public/settlement-rules`](/docs/api/rest/public-get-settlement-rules) | Returns all settlement rules with their source agencies and trading prohibitions | [View &rarr;](/docs/api/rest/public-get-settlement-rules) |

    | [`public/payout-projections`](/docs/api/rest/public-get-payout-projections) | Returns all payout projection timing descriptions | [View &rarr;](/docs/api/rest/public-get-payout-projections) |

    | [`public/event-settlement-description/events/{event_symbol}`](/docs/api/rest/public-get-event-settlement-description-by-event) | Returns realized settlement descriptions for all instruments under a specific event | [View &rarr;](/docs/api/rest/public-get-event-settlement-description-by-event) |


    ### Loading Settlement Data


    Settlement rules and payout projections are reference data that change infrequently. Load them once at startup and refresh periodically.


    #### Initial Load


    Fetch all reference data in parallel:


    ```

    GET /dcm/v1/public/settlement-rules

    GET /dcm/v1/public/payout-projections

    ```


    Build lookup maps keyed by `settlement_rule_code` and `payout_projection_code` for efficient access when processing event settlement descriptions.


    #### Loading Settlement Descriptions


    Settlement descriptions are loaded per event. For each event from `public/get-events`, fetch the settlement descriptions:


    ```

    GET /dcm/v1/public/event-settlement-description/events/FIFA-00001-260714-M

    ```


    You can fetch multiple events in parallel. The response includes the realized `settlement_description` text for each instrument, along with the underlying `settlement_definition` template. Use the `settlement_rule_code` and `payout_projection_code` to join with your reference data lookup maps.

    '
- name: Prediction Market Data
  slug: prediction-market-data
  x-guide: prediction-market-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Prediction Market Data


    Prediction market data is available through two channels:


    ### FIX Trading and Market Data


    **Best for:** Trading applications


    Ultra Low Latency market data with minimal latency, designed for trading applications.


    - Order book snapshots and incremental updates

    - Trade execution reports

    - Instrument reference data


    You can flexibility build analytics logic based on the real time raw market data: probability calculation, spread computation, etc. Most B2B trading partners use this approach.


    [View FIX Trading and Market Data API Documentation &rarr;](/docs/api/fix/fix-introduction)


    ### Non Trading Prediction Market Data


    **Best for:** Marketing & content sites


    Pre-computed, enriched market data for marketing sites, news portals, and content platforms.


    - Pre-calculated probability and spread values

    - Events as first-class entities with market groupings

    - Full-text search across markets and events

    - Rich metadata (descriptions, categories, resolution criteria)


    Intended for display and content purposes only, may not be optimised for trading.


    [View Non Trading Prediction Market Data API Documentation &rarr;](https://data.crypto.com/)

    '
