openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 OTC RFQ for Taker API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: OTC RFQ for Taker
  x-deploy-envs-by-business-units:
    fcm:
    - local
    - develop
    - staging
    dcm:
    - local
    - develop
    - staging
    - pre
    - master
  description: OTC RFQ (Request For Quote) enables takers to request block trade quotes from multiple liquidity providers, evaluate received quotes, and execute trades at the best available price.
paths:
  /private/otc/request-quote:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/otc/request-quote
      description: Create a quote request.
      operationId: privateOtcRequestQuote
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcRequestQuote({\n  cl_quote_req_id: 'abcd13456',\n  firm_quote: false,\n  settlement_arrangement: 'IMMEDIATE',\n  duration: '10000',\n  quote_ttl: '5000',\n  leg_list: [\n    { instrument_name: 'BTC_USD', quantity: '1', side: 'BUY' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_request_quote({\n    'cl_quote_req_id': 'abcd13456',\n    'firm_quote': False,\n    'settlement_arrangement': 'IMMEDIATE',\n    'duration': '10000',\n    'quote_ttl': '5000',\n    'leg_list': [\n        {'instrument_name': 'BTC_USD', 'quantity': '1', 'side': 'BUY'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcRequestQuoteRequest'
            example:
              id: '12'
              method: private/otc/request-quote
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                cl_quote_req_id: abcd13456
                firm_quote: false
                settlement_arrangement: IMMEDIATE
                duration: '10000'
                quote_ttl: '5000'
                leg_list:
                - instrument_name: BTC_USD
                  quantity: '1'
                  side: BUY
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: 12
                method: private/otc/request-quote
                code: 0
                result:
                  cl_quote_req_id: '1739951702774'
                  quote_req_id: '4611686018427626536'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: '12'
                method: private/otc/request-quote
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: '12'
                method: private/otc/request-quote
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: '12'
                method: private/otc/request-quote
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: '12'
                method: private/otc/request-quote
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestQuoteResponse'
              example:
                id: '12'
                method: private/otc/request-quote
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-otc-instruments:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-otc-instruments
      description: Retrieves a list of available OTC instruments that takers can request quotes for.
      operationId: privateOtcGetOtcInstruments
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetOtcInstruments({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_otc_instruments({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsRequest'
            example:
              id: '12'
              method: private/otc/get-otc-instruments
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: 12
                method: private/otc/get-otc-instruments
                code: 0
                result:
                  instrument_list:
                  - instrument_name: BTC_USD
                    base_currency: BTC
                    quote_currency: USD
                    type: SPOT
                    price_tick_size: '0.01'
                    quote_decimals: 2
                    qty_tick_size: '0.00001'
                    qty_decimals: 5
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: '12'
                method: private/otc/get-otc-instruments
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: '12'
                method: private/otc/get-otc-instruments
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: '12'
                method: private/otc/get-otc-instruments
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: '12'
                method: private/otc/get-otc-instruments
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOtcInstrumentsResponse'
              example:
                id: '12'
                method: private/otc/get-otc-instruments
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-open-quote-requests:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-open-quote-requests
      description: Get open quote requests. Only return active quote requests (status = NEW or ACTIVE).
      operationId: privateOtcGetOpenQuoteRequests
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetOpenQuoteRequests({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_open_quote_requests({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsRequest'
            example:
              id: '12'
              method: private/otc/get-open-quote-requests
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: 12
                method: private/otc/get-open-quote-requests
                code: 0
                result:
                  count: 1
                  quote_request_list:
                  - quote_req_id: '88997712345'
                    cl_quote_req_id: abcd13456
                    firm_quote: false
                    settlement_arrangement: IMMEDIATE
                    status: ACTIVE
                    leg_list:
                    - instrument_name: BTC_USD
                      quantity: '1'
                      side: BUY
                      type: PRICE
                    request_time_ns: '1749104833703281311'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: '12'
                method: private/otc/get-open-quote-requests
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: '12'
                method: private/otc/get-open-quote-requests
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: '12'
                method: private/otc/get-open-quote-requests
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: '12'
                method: private/otc/get-open-quote-requests
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse'
              example:
                id: '12'
                method: private/otc/get-open-quote-requests
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-open-quotes:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-open-quotes
      description: Get open quotes. Only return active Quotes (status = ACTIVE).
      operationId: privateOtcGetOpenQuotes
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetOpenQuotes({\n  lp_quote_id: '98765',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_open_quotes({\n    'lp_quote_id': '98765',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetOpenQuotesRequest'
            example:
              id: '12'
              method: private/otc/get-open-quotes
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                lp_quote_id: '98765'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: 12
                method: private/otc/get-open-quotes
                code: 0
                result:
                  count: 1
                  quote_list:
                  - quote_id: '11223344556677'
                    lp_quote_id: '98765'
                    quote_req_id: '88997712345'
                    status: ACTIVE
                    reason: NO_ERROR
                    response_time_ns: '1695153400000000000'
                    expire_time_ns: '1696153400000000000'
                    leg_list:
                    - instrument_name: BTC_USD
                      quantity: '1'
                      bid: '95085.99'
                      ask: '96086.01'
                      type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: '12'
                method: private/otc/get-open-quotes
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: '12'
                method: private/otc/get-open-quotes
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: '12'
                method: private/otc/get-open-quotes
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: '12'
                method: private/otc/get-open-quotes
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenQuotesResponse'
              example:
                id: '12'
                method: private/otc/get-open-quotes
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-quote-history:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-quote-history
      description: Get quotes history.
      operationId: privateOtcGetQuoteHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetQuoteHistory({\n  lp_quote_id: '98765',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_quote_history({\n    'lp_quote_id': '98765',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryRequest'
            example:
              id: '12'
              method: private/otc/get-quote-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params:
                lp_quote_id: '98765'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: 12
                method: private/otc/get-quote-history
                code: 0
                result:
                  count: 1
                  quote_list:
                  - lp_quote_id: '98765'
                    quote_req_id: '88997712345'
                    status: ACTIVE
                    reason: NO_ERROR
                    response_time_ns: '1695153400000000000'
                    expire_time_ns: '1696153400000000000'
                    leg_list:
                    - instrument_name: BTC_USD
                      quantity: '1'
                      bid: '100010'
                      ask: '100000'
                      type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-quote-request-history:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-quote-request-history
      description: Get quote requests history. Only return closed quote requests (status = COMPLETED/REJECTED).
      operationId: privateOtcGetQuoteRequestHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetQuoteRequestHistory({\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_quote_request_history({\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryRequest'
            example:
              id: '12'
              method: private/otc/get-quote-request-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: 12
                method: private/otc/get-quote-request-history
                code: 0
                result:
                  count: 2
                  quote_request_list:
                  - quote_req_id: '4611686018427625581'
                    cl_quote_req_id: abcd13456
                    firm_quote: false
                    settlement_arrangement: IMMEDIATE
                    status: COMPLETED
                    request_time_ns: '1747622246551416954'
                    leg_list:
                    - instrument_name: BTC_USD
                      quantity: '1'
                      side: BUY
                      type: PRICE
                  - quote_req_id: '4611686018427625594'
                    cl_quote_req_id: '1739762096888'
                    firm_quote: false
                    settlement_arrangement: IMMEDIATE
                    status: REJECTED
                    reason: INVALID_OTC_INSTRUMENT
                    request_time_ns: '1747622246551416954'
                    leg_list:
                    - instrument_name: ABC
                      quantity: '0.6'
                      side: BUY
                      type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-request-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-request-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-request-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-request-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-quote-request-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/request-deal:
    x-discriminators:
      RFQ:
        tags:
        - OTC RFQ for Taker
        summary: private/otc/request-deal (RFQ)
        description: Request a deal from a quote (RFQ flow).
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      - ws-user-api
      summary: private/otc/request-deal
      description: Request a deal.
      operationId: privateOtcRequestDeal
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: RFQ
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcRequestDeal({\n  deal_type: 'QUOTE_REQUEST',\n  cl_deal_id: 'client_id_1',\n  quote_id: '4611686018492073851',\n  quote_req_id: '4611686018427623960',\n  leg_list: [\n    { instrument_name: 'BTC_USD', price: '95734.2', quantity: '1', side: 'BUY' },\n  ],\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: RFQ
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_request_deal({\n    'deal_type': 'QUOTE_REQUEST',\n    'cl_deal_id': 'client_id_1',\n    'quote_id': '4611686018492073851',\n    'quote_req_id': '4611686018427623960',\n    'leg_list': [\n        {'instrument_name': 'BTC_USD', 'price': '95734.2', 'quantity': '1', 'side': 'BUY'},\n    ],\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcRequestDealRequest'
            examples:
              RFQ:
                x-discriminator-value: RFQ
                value:
                  id: '1'
                  method: private/otc/request-deal
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: '1610905028000'
                  params:
                    deal_type: QUOTE_REQUEST
                    cl_deal_id: client_id_1
                    quote_id: '4611686018492073851'
                    quote_req_id: '4611686018427623960'
                    leg_list:
                    - instrument_name: BTC_USD
                      price: '95734.2'
                      quantity: '1'
                      side: BUY
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              examples:
                RFQ:
                  x-discriminator-value: RFQ
                  value:
                    id: 1
                    method: private/otc/request-deal
                    code: 0
                    result:
                      cl_deal_id: client_id_1
                      deal_id: '4611686018429016536'
                      quote_req_id: '4611686018427623960'
                      quote_id: '4611686018492073851'
                      deal_type: QUOTE_REQUEST
                      deal_status: ACCEPTED
                      reason: NO_ERROR
                      update_time_ns: '1739329285207188882'
                      leg_list:
                      - instrument_name: BTC_USD
                        quantity: '1'
                        price: '95734.2'
                        side: BUY
                        type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              example:
                id: '1'
                method: private/otc/request-deal
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              example:
                id: '1'
                method: private/otc/request-deal
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              example:
                id: '1'
                method: private/otc/request-deal
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              example:
                id: '1'
                method: private/otc/request-deal
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcRequestDealResponse'
              example:
                id: '1'
                method: private/otc/request-deal
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-open-deals:
    x-discriminators:
      RFQ:
        tags:
        - OTC RFQ for Taker
        summary: private/otc/get-open-deals (RFQ)
        description: Get quote requests history. Only return closed quote requests (status = COMPLETED/REJECTED).
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-open-deals
      description: Get open deals.
      operationId: privateOtcGetOpenDeals
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: RFQ
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetOpenDeals({\n  deal_type: 'QUOTE_REQUEST',\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: RFQ
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_open_deals({\n    'deal_type': 'QUOTE_REQUEST',\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetOpenDealsRequest'
            examples:
              RFQ:
                x-discriminator-value: RFQ
                value:
                  id: '12'
                  method: private/otc/get-open-deals
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: '1610905028000'
                  params:
                    deal_type: QUOTE_REQUEST
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              examples:
                RFQ:
                  x-discriminator-value: RFQ
                  value:
                    id: 12
                    method: private/otc/get-open-deals
                    code: 0
                    result:
                      deal_list:
                      - deal_id: '111222333444555777'
                        quote_id: '98764'
                        cl_deal_id: external_deal_id_123
                        deal_type: QUOTE_REQUEST
                        deal_status: ACCEPTED
                        settlement_arrangement: IMMEDIATE
                        create_time_ns: '1696152390000000000'
                        update_time_ns: '1696152400000000000'
                        quote_req_id: '77665544'
                        leg_list:
                        - instrument_name: BTC_USD
                          quantity: '0.1'
                          executed_quantity: '0.1'
                          executed_notional: '2600.05'
                          price: '26000.5'
                          side: BUY
                          type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              example:
                id: '12'
                method: private/otc/get-open-deals
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              example:
                id: '12'
                method: private/otc/get-open-deals
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              example:
                id: '12'
                method: private/otc/get-open-deals
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              example:
                id: '12'
                method: private/otc/get-open-deals
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetOpenDealsResponse'
              example:
                id: '12'
                method: private/otc/get-open-deals
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-deal-history:
    x-discriminators:
      RFQ:
        tags:
        - OTC RFQ for Taker
        summary: private/otc/get-deal-history (RFQ)
        description: Get closed deals for given user.
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-deal-history
      description: Get deal history.
      operationId: privateOtcGetDealHistory
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: RFQ
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetDealHistory({\n  deal_type: 'QUOTE_REQUEST',\n  start_time: 1696154400000,\n  end_time: 1697364000000,\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: RFQ
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_deal_history({\n    'deal_type': 'QUOTE_REQUEST',\n    'start_time': 1696154400000,\n    'end_time': 1697364000000,\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetDealHistoryRequest'
            examples:
              RFQ:
                x-discriminator-value: RFQ
                value:
                  id: '12'
                  method: private/otc/get-deal-history
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: '1610905028000'
                  params:
                    deal_type: QUOTE_REQUEST
                    start_time: 1696154400000
                    end_time: 1697364000000
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              examples:
                RFQ:
                  x-discriminator-value: RFQ
                  value:
                    id: 12
                    method: private/otc/get-deal-history
                    code: 0
                    result:
                      deal_list:
                      - deal_id: '111222333444555777'
                        quote_id: '98764'
                        cl_deal_id: external_deal_id_123
                        deal_type: QUOTE_REQUEST
                        deal_status: SETTLED
                        settlement_arrangement: IMMEDIATE
                        create_time_ns: '1696152390000000000'
                        update_time_ns: '1696152400000000000'
                        quote_req_id: '77665544'
                        leg_list:
                        - instrument_name: BTC_USD
                          quantity: '0.1'
                          executed_quantity: '0.1'
                          executed_notional: '2600.05'
                          price: '26000.5'
                          side: BUY
                          type: PRICE
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-deal-history
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-deal-history
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-deal-history
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-deal-history
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetDealHistoryResponse'
              example:
                id: '12'
                method: private/otc/get-deal-history
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-settle-later-limit:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-settle-later-limit
      description: Get used settle later limit as well as the configured limit for account.
      operationId: privateOtcGetSettleLaterLimit
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetSettleLaterLimit({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_settle_later_limit({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitRequest'
            example:
              id: '12'
              method: private/otc/get-settle-later-limit
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: 12
                method: private/otc/get-settle-later-limit
                code: 0
                result:
                  account_id: 52e7c00f-1324-5a6z-bfgt-de445bde21c1
                  configured_limit: '1000000'
                  used_limit: '20000'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: '12'
                method: private/otc/get-settle-later-limit
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: '12'
                method: private/otc/get-settle-later-limit
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: '12'
                method: private/otc/get-settle-later-limit
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: '12'
                method: private/otc/get-settle-later-limit
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetSettleLaterLimitResponse'
              example:
                id: '12'
                method: private/otc/get-settle-later-limit
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/otc/get-unsettled-amounts:
    post:
      tags:
      - OTC RFQ for Taker
      x-apply-to:
      - rest
      summary: private/otc/get-unsettled-amounts
      description: Get pending settlement amount aggregated by date and instrument.
      operationId: privateOtcGetUnsettledAmounts
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateOtcGetUnsettledAmounts({});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_otc_get_unsettled_amounts({})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsRequest'
            example:
              id: '12'
              method: private/otc/get-unsettled-amounts
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: '1610905028000'
              params: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: 1763952629987
                method: private/otc/get-unsettled-amounts
                code: 0
                result:
                  unsettled_ccys:
                    '1764057600000000000':
                      BTC: '-0.01'
                      USD: '1022.0646'
                    '1762848000000000000':
                      ADA: '-1000'
                      USD: '583.080000'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: '12'
                method: private/otc/get-unsettled-amounts
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: '12'
                method: private/otc/get-unsettled-amounts
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: '12'
                method: private/otc/get-unsettled-amounts
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: '12'
                method: private/otc/get-unsettled-amounts
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOtcGetUnsettledAmountsResponse'
              example:
                id: '12'
                method: private/otc/get-unsettled-amounts
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateOtcGetOpenQuoteRequestsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenQuoteRequestsResponse
    PrivateOtcRequestQuoteRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcRequestQuoteRequest
    PrivateOtcGetOtcInstrumentsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOtcInstrumentsResponse
    PrivateOtcGetUnsettledAmountsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetUnsettledAmountsRequest
    PrivateOtcGetQuoteHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetQuoteHistoryRequest
    PrivateOtcGetSettleLaterLimitRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetSettleLaterLimitRequest
    PrivateOtcGetOpenQuotesRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenQuotesRequest
    PrivateOtcGetOpenQuoteRequestsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenQuoteRequestsRequest
    PrivateOtcGetDealHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetDealHistoryRequest
    PrivateOtcGetOtcInstrumentsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOtcInstrumentsRequest
    PrivateOtcGetOpenDealsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenDealsResponse
    PrivateOtcGetQuoteHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetQuoteHistoryResponse
    PrivateOtcGetQuoteRequestHistoryRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetQuoteRequestHistoryRequest
    PrivateOtcRequestDealRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcRequestDealRequest
    PrivateOtcGetOpenDealsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenDealsRequest
    PrivateOtcRequestDealResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcRequestDealResponse
    PrivateOtcRequestQuoteResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcRequestQuoteResponse
    PrivateOtcGetOpenQuotesResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetOpenQuotesResponse
    PrivateOtcGetUnsettledAmountsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetUnsettledAmountsResponse
    PrivateOtcGetDealHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetDealHistoryResponse
    PrivateOtcGetSettleLaterLimitResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetSettleLaterLimitResponse
    PrivateOtcGetQuoteRequestHistoryResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateOtcGetQuoteRequestHistoryResponse
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contract** hierarchy using REST polling with `since` and `cursor` parameters.\n\n**Goal:**\n- Build a 3-level navigation hierarchy: Series → Event → Contract\n- Keep data up-to-date via continuous REST polling\n\n**Procedure:**\n\n1. **Initialize tracking variables:**\n   ```\n   events_last_modified = 0\n   instruments_last_modified = 0\n   ```\n\n2. **Fetch events with changes:**\n   ```\n   GET /dcm/v1/public/get-events?since={events_last_modified}\n   ```\n   Paginate using `cursor` until all pages are retrieved.\n\n3. **For each event, fetch associated instruments:**\n   ```\n   GET /dcm/v1/public/get-instruments?event_symbol={symbol}&since={instruments_last_modified}\n   ```\n   This can be done in parallel for multiple events. Paginate each using `cursor`.\n\n4. **Build the hierarchy from instrument metadata:**\n   - **Series level:** Group by `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)`\n   - **Event level:** Group by `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE`\n   - **Contract level:** Individual instrument records\n\n5. **Update tracking variables:**\n   Record the maximum `last_updated_time` from events and instruments for the next polling cycle.\n\n6. **Sleep and repeat:**\n   Wait for your desired polling interval, then return to step 2 with the updated `since` values.\n\nThis approach ensures you only fetch changed records on subsequent cycles, minimizing API calls and data transfer.\n\n### Full Meta Data Reference\n\nFor the complete metadata specification, please refer to [FIX Document Pack > Prediction Market Appendix](/docs/api/fix/fix-introduction) for details.\n"
- name: Instrument Status Updates
  slug: instrument-status-updates
  x-guide: instrument-status-updates
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Instrument Status Updates


    Two additional endpoints provide real-time visibility into instrument state changes:


    | Endpoint | Description |

    |----------|-------------|

    | [`public/get-instrument-lifecycle-states`](/docs/api/rest/public-get-instrument-lifecycle-states) | Track lifecycle state transitions (e.g., `Suspended` → `Closed`) |

    | [`public/get-instrument-market-status`](/docs/api/rest/public-get-instrument-market-status) | Track market trading status changes (e.g., `OPEN` → `CLOSED`) |


    Both endpoints support the same pagination pattern (`since`, `cursor`, `limit`) and can be filtered by `event_symbol` for efficient parallel loading.


    ### Lifecycle States vs Market Status


    - **Lifecycle states** represent the instrument''s position in its overall lifecycle (e.g., Active, Suspended, Closed). Use this to determine if an instrument can potentially be traded or has reached end-of-life.

    - **Market status** indicates whether the instrument is currently open for trading. An instrument may be in an Active lifecycle state but have a Closed market status.


    ### Parallel Loading by Event


    For efficient data loading, fetch status updates per event in parallel:


    ```

    # For each event, fetch lifecycle and market status in parallel

    GET /dcm/v1/public/get-instrument-lifecycle-states?event_symbol={event_symbol}&since={last_updated_time}

    GET /dcm/v1/public/get-instrument-market-status?event_symbol={event_symbol}&since={last_updated_time}

    ```


    Since instruments within the same event typically change state around the same time (e.g., when a game ends), filtering by `event_symbol` enables effective parallelism across events.

    '
- name: Settlement Rules and Languages
  slug: settlement-rules-laguages
  x-guide: settlement-rules-laguages
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Settlement Rules and Languages


    Settlement rules and languages define how prediction markets resolve. This data is available via Excel file from the support team.


    ### Excel Schema


    The settlement data file contains the following columns:


    | Column | Description |

    |--------|-------------|

    | **Market Title** | Human-readable name of the prediction market |

    | **Date Added** | Date the market was added to the platform |

    | **Tradeable Symbol** | Instrument symbol (e.g., `NX.F.OPT.ELECT-CALGOV.O.1.x`) |

    | **Market Close (ET)** | Market closing time in Eastern Time |

    | **Projected Payout** | Expected payout timing (e.g., "30 minutes after closing") |

    | **Settlement Language** | Full settlement terms including resolution criteria and source agencies |

    | **Rule Number** | CDNA Rulebook rule reference (e.g., 14.62, 14.64, 14.68) |

    | **Rule** | Rule name (e.g., "ELECTION OUTCOME EVENT CENTI CONTRACT") |

    | **Rule Source** | Source agencies for resolution (e.g., AP, Reuters, major news networks) |

    | **Trading Prohibitions** | Restrictions on who may trade (e.g., source agency employees) |

    | **Status** | Market status (Active, Inactive, etc.) |


    ### How to Obtain


    Contact the support team to request the latest settlement rules and languages file. Updates are provided when markets are added or settlement terms change.


    ### Settlement Rules API


    The REST API provides programmatic access to settlement rules and languages.


    #### Available Endpoints


    | Method | Description | API Reference |

    |--------|-------------|---------------|

    | [`public/settlement-rules`](/docs/api/rest/public-get-settlement-rules) | Returns all settlement rules with their source agencies and trading prohibitions | [View &rarr;](/docs/api/rest/public-get-settlement-rules) |

    | [`public/payout-projections`](/docs/api/rest/public-get-payout-projections) | Returns all payout projection timing descriptions | [View &rarr;](/docs/api/rest/public-get-payout-projections) |

    | [`public/event-settlement-description/events/{event_symbol}`](/docs/api/rest/public-get-event-settlement-description-by-event) | Returns realized settlement descriptions for all instruments under a specific event | [View &rarr;](/docs/api/rest/public-get-event-settlement-description-by-event) |


    ### Loading Settlement Data


    Settlement rules and payout projections are reference data that change infrequently. Load them once at startup and refresh periodically.


    #### Initial Load


    Fetch all reference data in parallel:


    ```

    GET /dcm/v1/public/settlement-rules

    GET /dcm/v1/public/payout-projections

    ```


    Build lookup maps keyed by `settlement_rule_code` and `payout_projection_code` for efficient access when processing event settlement descriptions.


    #### Loading Settlement Descriptions


    Settlement descriptions are loaded per event. For each event from `public/get-events`, fetch the settlement descriptions:


    ```

    GET /dcm/v1/public/event-settlement-description/events/FIFA-00001-260714-M

    ```


    You can fetch multiple events in parallel. The response includes the realized `settlement_description` text for each instrument, along with the underlying `settlement_definition` template. Use the `settlement_rule_code` and `payout_projection_code` to join with your reference data lookup maps.

    '
- name: Prediction Market Data
  slug: prediction-market-data
  x-guide: prediction-market-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Prediction Market Data


    Prediction market data is available through two channels:


    ### FIX Trading and Market Data


    **Best for:** Trading applications


    Ultra Low Latency market data with minimal latency, designed for trading applications.


    - Order book snapshots and incremental updates

    - Trade execution reports

    - Instrument reference data


    You can flexibility build analytics logic based on the real time raw market data: probability calculation, spread computation, etc. Most B2B trading partners use this approach.


    [View FIX Trading and Market Data API Documentation &rarr;](/docs/api/fix/fix-introduction)


    ### Non Trading Prediction Market Data


    **Best for:** Marketing & content sites


    Pre-computed, enriched market data for marketing sites, news portals, and content platforms.


    - Pre-calculated probability and spread values

    - Events as first-class entities with market groupings

    - Full-text search across markets and events

    - Rich metadata (descriptions, categories, resolution criteria)


    Intended for display and content purposes only, may not be optimised for trading.


    [View Non Trading Prediction Market Data API Documentation &rarr;](https://data.crypto.com/)

    '
