openapi: 3.2.0
info:
  title: Crypto.com Exchange API v1 Trading Bot API
  version: 1.0.0
  description: '## Welcome


    Welcome to the Crypto.com Exchange API v1 reference documentation.'
servers:
- url: https://api.crypto.com/exchange/v1
  description: Production
- url: https://uat-api.3ona.co/exchange/v1
  description: UAT Sandbox
tags:
- name: Trading Bot API
  description: Manage automated trading bots including DCA (Dollar-Cost Averaging), TWAP (Time-Weighted Average Price), GRID, and Funding Arbitrage strategies.
paths:
  /private/bot/create-trading-bot:
    x-discriminators:
      DCA:
        tags:
        - Trading Bot API
        summary: private/bot/create-trading-bot (DCA)
        description: 'Creates a new DCA (Dollar-Cost Averaging) Trading Bot that automatically buys or sells at regular intervals over a preset time frame.


          DCA trading is used by investors who would like to reduce the influence of volatility and accumulate or decumulate positions gradually.

          '
      TWAP:
        tags:
        - Trading Bot API
        summary: private/bot/create-trading-bot (TWAP)
        description: 'Creates a new TWAP (Time-Weighted Average Price) Trading Bot that executes large orders by splitting them into smaller slices over a defined time window to minimise market impact.

          '
      GRID:
        tags:
        - Trading Bot API
        summary: private/bot/create-trading-bot (GRID)
        description: 'Creates a new GRID Trading Bot that automatically places buy and sell orders within a defined price range.

          '
      FUNDING_ARBITRAGE:
        tags:
        - Trading Bot API
        summary: private/bot/create-trading-bot (FUNDING_ARBITRAGE)
        description: 'Creates a new Funding Arbitrage Trading Bot that simultaneously holds a spot position and an opposing perpetual swap position to capture funding rate income.

          '
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/create-trading-bot
      description: Create a trading bot. Supports DCA (Dollar Cost Averaging), TWAP (Time-Weighted Average Price), Grid, and Funding Arbitrage bot types.
      operationId: privateBotCreateTradingBot
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: DCA
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// DCA Bot: Buy 0.01 BTC every 5 min for 50 min\nconst res = await exchange.v1PrivatePostPrivateBotCreateTradingBot({\n  bot_type: 'DCA',\n  notify_on_bot_change: true,\n  settings: {\n    is_basket: false,\n    allocations: [\n      { instrument_name: 'BTC_USDT', allocated_percentage: '100' }\n    ],\n    investment_currency: 'USDT',\n    side: 'BUY',\n    type: 'MARKET',\n    auto_stake: false,\n    quantity: '0.01',\n    investment_frequency_mode: 'FIXED_DURATION',\n    investment_frequency: 300000,\n    max_order: '10',\n    first_investment_time: 1691510460000\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: DCA
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# DCA Bot: Buy 0.01 BTC every 5 min for 50 min\nres = exchange.v1_private_post_private_bot_create_trading_bot({\n    'bot_type': 'DCA',\n    'notify_on_bot_change': True,\n    'settings': {\n        'is_basket': False,\n        'allocations': [\n            {'instrument_name': 'BTC_USDT', 'allocated_percentage': '100'}\n        ],\n        'investment_currency': 'USDT',\n        'side': 'BUY',\n        'type': 'MARKET',\n        'auto_stake': False,\n        'quantity': '0.01',\n        'investment_frequency_mode': 'FIXED_DURATION',\n        'investment_frequency': 300000,\n        'max_order': '10',\n        'first_investment_time': 1691510460000\n    }\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: TWAP
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// TWAP Bot: Execute 1000 units over 50 minutes\nconst res = await exchange.v1PrivatePostPrivateBotCreateTradingBot({\n  bot_type: 'TWAP',\n  notify_on_bot_change: true,\n  settings: {\n    instrument_name: 'BTC_USDT',\n    side: 'BUY',\n    type: 'MARKET',\n    quantity: '1000',\n    start_time_millis: 1691510460000,\n    end_time_millis: 1691513460000\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: TWAP
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# TWAP Bot: Execute 1000 units over 50 minutes\nres = exchange.v1_private_post_private_bot_create_trading_bot({\n    'bot_type': 'TWAP',\n    'notify_on_bot_change': True,\n    'settings': {\n        'instrument_name': 'BTC_USDT',\n        'side': 'BUY',\n        'type': 'MARKET',\n        'quantity': '1000',\n        'start_time_millis': 1691510460000,\n        'end_time_millis': 1691513460000\n    }\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: GRID
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// GRID Bot: Create a spot grid bot on BTC_USDT\nconst res = await exchange.v1PrivatePostPrivateBotCreateTradingBot({\n  bot_type: 'GRID',\n  notify_on_bot_change: true,\n  settings: {\n    instrument_name: 'BTC_USDT',\n    total_investment: '1000',\n    lower_price: '25000',\n    upper_price: '35000',\n    grid_mode: 'ARITHMETIC',\n    grid_no: 10,\n    margin_enabled: false,\n    trailing_up_enabled: false\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: GRID
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# GRID Bot: Create a spot grid bot on BTC_USDT\nres = exchange.v1_private_post_private_bot_create_trading_bot({\n    'bot_type': 'GRID',\n    'notify_on_bot_change': True,\n    'settings': {\n        'instrument_name': 'BTC_USDT',\n        'total_investment': '1000',\n        'lower_price': '25000',\n        'upper_price': '35000',\n        'grid_mode': 'ARITHMETIC',\n        'grid_no': 10,\n        'margin_enabled': False,\n        'trailing_up_enabled': False\n    }\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: FUNDING_ARBITRAGE
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// Funding Arbitrage Bot: Spot + Perp hedge\nconst res = await exchange.v1PrivatePostPrivateBotCreateTradingBot({\n  bot_type: 'FUNDING_ARBITRAGE',\n  notify_on_bot_change: true,\n  settings: {\n    total_investment: '5000',\n    investment_currency: 'USDT',\n    spot_leg: {\n      instrument_name: 'BTC_USDT',\n      side: 'BUY'\n    },\n    perp_leg: {\n      instrument_name: 'BTCUSD-PERP',\n      side: 'SELL'\n    }\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: FUNDING_ARBITRAGE
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# Funding Arbitrage Bot: Spot + Perp hedge\nres = exchange.v1_private_post_private_bot_create_trading_bot({\n    'bot_type': 'FUNDING_ARBITRAGE',\n    'notify_on_bot_change': True,\n    'settings': {\n        'total_investment': '5000',\n        'investment_currency': 'USDT',\n        'spot_leg': {\n            'instrument_name': 'BTC_USDT',\n            'side': 'BUY'\n        },\n        'perp_leg': {\n            'instrument_name': 'BTCUSD-PERP',\n            'side': 'SELL'\n        }\n    }\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotCreateTradingBotRequest'
            examples:
              DCA:
                x-discriminator-value: DCA
                summary: DCA Bot - Single instrument
                value:
                  id: 1
                  method: private/bot/create-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_type: DCA
                    notify_on_bot_change: true
                    settings:
                      is_basket: false
                      allocations:
                      - instrument_name: BTC_USDT
                        allocated_percentage: '100'
                      investment_currency: USDT
                      side: BUY
                      type: MARKET
                      auto_stake: false
                      quantity: '0.01'
                      investment_frequency_mode: FIXED_DURATION
                      investment_frequency: 300000
                      max_order: '10'
                      first_investment_time: 1691510460000
              TWAP:
                x-discriminator-value: TWAP
                summary: TWAP Bot - Execute over time window
                value:
                  id: 1
                  method: private/bot/create-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_type: TWAP
                    notify_on_bot_change: true
                    settings:
                      instrument_name: BTC_USDT
                      side: BUY
                      type: MARKET
                      quantity: '1000'
                      start_time_millis: 1691510460000
                      end_time_millis: 1691513460000
              GRID:
                x-discriminator-value: GRID
                summary: GRID Bot - Price range trading
                value:
                  id: 1
                  method: private/bot/create-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_type: GRID
                    notify_on_bot_change: true
                    settings:
                      instrument_name: BTC_USDT
                      total_investment: '1000'
                      lower_price: '25000'
                      upper_price: '35000'
                      grid_mode: ARITHMETIC
                      grid_no: 10
                      margin_enabled: false
                      trailing_up_enabled: false
              FUNDING_ARBITRAGE:
                x-discriminator-value: FUNDING_ARBITRAGE
                summary: Funding Arbitrage Bot - Spot/Perp hedge
                value:
                  id: 1
                  method: private/bot/create-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_type: FUNDING_ARBITRAGE
                    notify_on_bot_change: true
                    settings:
                      total_investment: '5000'
                      investment_currency: USDT
                      spot_leg:
                        instrument_name: BTC_USDT
                        side: BUY
                      perp_leg:
                        instrument_name: BTCUSD-PERP
                        side: SELL
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: 0
                result:
                  bot_id: '1'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotCreateTradingBotResponse'
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/update-trading-bot:
    x-discriminators:
      DCA:
        tags:
        - Trading Bot API
        summary: private/bot/update-trading-bot (DCA)
        description: 'Updates settings for a running or paused DCA (Dollar-Cost Averaging) Trading Bot.


          Updatable settings for DCA bots include allocations, order type, price, max_order, stop/take-profit prices, auto_stake, investment parameters, and quantity.

          '
      TWAP:
        tags:
        - Trading Bot API
        summary: private/bot/update-trading-bot (TWAP)
        description: 'Updates a TWAP (Time-Weighted Average Price) Trading Bot.


          Note: TWAP bots do not support updating settings. Only `display_name` and `notify_on_bot_change` can be changed.

          '
      GRID:
        tags:
        - Trading Bot API
        summary: private/bot/update-trading-bot (GRID)
        description: 'Updates settings for a running or paused GRID Trading Bot.


          Updatable settings for GRID bots include stop_price, take_profit_price, and trailing_up_price_cap.

          '
      FUNDING_ARBITRAGE:
        tags:
        - Trading Bot API
        summary: private/bot/update-trading-bot (FUNDING_ARBITRAGE)
        description: 'Updates a Funding Arbitrage Trading Bot.


          Note: Funding Arbitrage bots do not support updating settings. Only `display_name` and `notify_on_bot_change` can be changed.

          '
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/update-trading-bot
      description: Updates settings for a running or paused Trading Bot. TWAP and FUNDING_ARBITRAGE bots only support updating display_name and notify_on_bot_change.
      operationId: privateBotUpdateTradingBot
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: DCA
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// DCA Bot: Update allocations and stop-loss\nconst res = await exchange.v1PrivatePostPrivateBotUpdateTradingBot({\n  bot_id: 1,\n  bot_type: 'DCA',\n  notify_on_bot_change: true,\n  settings: {\n    allocations: [\n      { instrument_name: 'BTC_USDT', allocated_percentage: '60' },\n      { instrument_name: 'ETH_USDT', allocated_percentage: '40' }\n    ],\n    stop_price: '20000'\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: DCA
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# DCA Bot: Update allocations and stop-loss\nres = exchange.v1_private_post_private_bot_update_trading_bot({\n    'bot_id': 1,\n    'bot_type': 'DCA',\n    'notify_on_bot_change': True,\n    'settings': {\n        'allocations': [\n            {'instrument_name': 'BTC_USDT', 'allocated_percentage': '60'},\n            {'instrument_name': 'ETH_USDT', 'allocated_percentage': '40'}\n        ],\n        'stop_price': '20000'\n    }\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: TWAP
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// TWAP Bot: Only display_name and notify_on_bot_change can be updated\nconst res = await exchange.v1PrivatePostPrivateBotUpdateTradingBot({\n  bot_id: 2,\n  bot_type: 'TWAP',\n  notify_on_bot_change: false,\n  display_name: 'My TWAP Bot'\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: TWAP
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# TWAP Bot: Only display_name and notify_on_bot_change can be updated\nres = exchange.v1_private_post_private_bot_update_trading_bot({\n    'bot_id': 2,\n    'bot_type': 'TWAP',\n    'notify_on_bot_change': False,\n    'display_name': 'My TWAP Bot'\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: GRID
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// GRID Bot: Update stop-loss and take-profit prices\nconst res = await exchange.v1PrivatePostPrivateBotUpdateTradingBot({\n  bot_id: 3,\n  bot_type: 'GRID',\n  notify_on_bot_change: true,\n  display_name: 'Updated Grid Bot',\n  settings: {\n    stop_price: '24000',\n    take_profit_price: '70000'\n  }\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: GRID
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# GRID Bot: Update stop-loss and take-profit prices\nres = exchange.v1_private_post_private_bot_update_trading_bot({\n    'bot_id': 3,\n    'bot_type': 'GRID',\n    'notify_on_bot_change': True,\n    'display_name': 'Updated Grid Bot',\n    'settings': {\n        'stop_price': '24000',\n        'take_profit_price': '70000'\n    }\n})\nprint(res)\n"
      - lang: JavaScript
        label: JavaScript
        x-discriminator-value: FUNDING_ARBITRAGE
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\n// Funding Arbitrage Bot: Only display_name and notify_on_bot_change can be updated\nconst res = await exchange.v1PrivatePostPrivateBotUpdateTradingBot({\n  bot_id: 4,\n  bot_type: 'FUNDING_ARBITRAGE',\n  notify_on_bot_change: true,\n  display_name: 'My Funding Arb Bot'\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        x-discriminator-value: FUNDING_ARBITRAGE
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\n# Funding Arbitrage Bot: Only display_name and notify_on_bot_change can be updated\nres = exchange.v1_private_post_private_bot_update_trading_bot({\n    'bot_id': 4,\n    'bot_type': 'FUNDING_ARBITRAGE',\n    'notify_on_bot_change': True,\n    'display_name': 'My Funding Arb Bot'\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotUpdateTradingBotRequest'
            examples:
              DCA:
                x-discriminator-value: DCA
                summary: DCA Bot - Update allocations and stop-loss
                value:
                  id: 1
                  method: private/bot/update-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_id: 1
                    bot_type: DCA
                    notify_on_bot_change: true
                    settings:
                      allocations:
                      - instrument_name: BTC_USDT
                        allocated_percentage: '60'
                      - instrument_name: ETH_USDT
                        allocated_percentage: '40'
                      stop_price: '20000'
              TWAP:
                x-discriminator-value: TWAP
                summary: TWAP Bot - Update display name only
                value:
                  id: 1
                  method: private/bot/update-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_id: 2
                    bot_type: TWAP
                    notify_on_bot_change: false
                    display_name: My TWAP Bot
              GRID:
                x-discriminator-value: GRID
                summary: GRID Bot - Update stop-loss price
                value:
                  id: 1
                  method: private/bot/update-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_id: 3
                    bot_type: GRID
                    notify_on_bot_change: true
                    settings:
                      stop_price: '24000'
              FUNDING_ARBITRAGE:
                x-discriminator-value: FUNDING_ARBITRAGE
                summary: Funding Arbitrage Bot - Update display name only
                value:
                  id: 1
                  method: private/bot/update-trading-bot
                  api_key: YOUR_API_KEY
                  sig: DIGITAL_SIGNATURE
                  nonce: 1610905028000
                  params:
                    bot_id: 4
                    bot_type: FUNDING_ARBITRAGE
                    notify_on_bot_change: true
                    display_name: My Funding Arb Bot
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotUpdateTradingBotResponse'
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/terminate-trading-bot:
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/terminate-trading-bot
      description: Terminates a Trading Bot. All open orders placed by the bot are cancelled.
      operationId: privateBotTerminateTradingBot
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateBotTerminateTradingBot({\n  bot_id: 1,\n  bot_type: 'DCA',\n  close_position: false\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_bot_terminate_trading_bot({\n    'bot_id': 1,\n    'bot_type': 'DCA',\n    'close_position': False\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotTerminateTradingBotRequest'
            example:
              id: 1
              method: private/bot/terminate-trading-bot
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 1
                bot_type: DCA
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotTerminateTradingBotResponse'
              example:
                id: 1
                method: private/bot/terminate-trading-bot
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/pause-trading-bot:
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/pause-trading-bot
      description: Pauses a running Trading Bot. The bot's open orders are cancelled and no new orders will be placed until resumed.
      operationId: privateBotPauseTradingBot
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateBotPauseTradingBot({\n  bot_id: 1,\n  bot_type: 'DCA'\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_bot_pause_trading_bot({\n    'bot_id': 1,\n    'bot_type': 'DCA'\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotPauseTradingBotRequest'
            example:
              id: 1
              method: private/bot/pause-trading-bot
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 1
                bot_type: DCA
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotPauseTradingBotResponse'
              example:
                id: 1
                method: private/bot/pause-trading-bot
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/resume-trading-bot:
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/resume-trading-bot
      description: Resumes a paused Trading Bot. The bot will restart placing orders according to its configured strategy.
      operationId: privateBotResumeTradingBot
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateBotResumeTradingBot({\n  bot_id: 1,\n  bot_type: 'DCA'\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_bot_resume_trading_bot({\n    'bot_id': 1,\n    'bot_type': 'DCA'\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotResumeTradingBotRequest'
            example:
              id: 1
              method: private/bot/resume-trading-bot
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 1
                bot_type: DCA
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: 0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotResumeTradingBotResponse'
              example:
                id: 1
                method: private/bot/resume-trading-bot
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/get-trading-bots:
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/get-trading-bots
      description: Returns a list of Trading Bots filtered by type and state. Results are sorted by update time in descending order.
      operationId: privateBotGetTradingBots
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateBotGetTradingBots({\n  bot_types: ['DCA', 'TWAP', 'GRID', 'FUNDING_ARBITRAGE'],\n  state: ['RUNNING', 'PAUSED'],\n  page: 0,\n  page_size: 20\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_bot_get_trading_bots({\n    'bot_types': ['DCA', 'TWAP', 'GRID', 'FUNDING_ARBITRAGE'],\n    'state': ['RUNNING', 'PAUSED'],\n    'page': 0,\n    'page_size': 20\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotGetTradingBotsRequest'
            example:
              id: 1
              method: private/bot/get-trading-bots
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_types:
                - DCA
                - TWAP
                - GRID
                - FUNDING_ARBITRAGE
                state:
                - RUNNING
                - PAUSED
                page: 0
                page_size: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: 0
                result:
                  bot_list:
                  - bot_id: '1'
                    bot_type: DCA
                    display_name: My DCA Bot
                    state: RUNNING
                    create_time: 1691510460000
                    update_time: 1691510460000
                    end_time: 0
                    settings:
                      is_basket: false
                      allocations:
                      - instrument_name: BTC_USDT
                        allocated_percentage: '100'
                      investment_currency: USDT
                      side: BUY
                      type: MARKET
                      auto_stake: false
                      quantity: '0.01'
                      investment_frequency_mode: FIXED_DURATION
                      investment_frequency: 300000
                      max_order: '10'
                      first_investment_time: 1691510460000
                    execution_summary:
                      executed_order: '5'
                      total_invested: '500'
                      total_quantity: '0.05'
                      avg_price: '10000'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: '50001'
                message: INTERNAL_SERVER_ERROR
  /private/bot/get-trading-bot-executions:
    post:
      tags:
      - Trading Bot API
      x-apply-to:
      - rest
      summary: private/bot/get-trading-bot-executions
      description: Returns the order execution history for a specific Trading Bot.
      operationId: privateBotGetTradingBotExecutions
      x-codeSamples:
      - lang: JavaScript
        label: JavaScript
        source: "const ccxt = require('ccxt');\nconst exchange = new ccxt.cryptocom({\n  apiKey: 'YOUR_API_KEY',\n  secret: 'YOUR_SECRET',\n  enableRateLimit: true,\n});\nconst res = await exchange.v1PrivatePostPrivateBotGetTradingBotExecutions({\n  bot_id: 1,\n  page: 0,\n  page_size: 20\n});\nconsole.log(res);\n"
      - lang: Python
        label: Python
        source: "import ccxt\nexchange = ccxt.cryptocom({\n    'apiKey': 'YOUR_API_KEY',\n    'secret': 'YOUR_SECRET',\n    'enableRateLimit': True,\n})\nres = exchange.v1_private_post_private_bot_get_trading_bot_executions({\n    'bot_id': 1,\n    'page': 0,\n    'page_size': 20\n})\nprint(res)\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsRequest'
            example:
              id: 1
              method: private/bot/get-trading-bot-executions
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 1
                page: 0
                page_size: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: 0
                result:
                  execution_list:
                  - instrument_name: BTC/USD
                    symbol: BTC_USD
                    execution_time: 1691510460000
                    schedule_time: 1691510400000
                    order_status: FILLED
                    side: BUY
                    price: '50000.00'
                    quantity: '0.01'
                    avg_price: '49950.00'
                    cum_qty: '0.01'
                    order_id: '12345678'
                    update_time: 1691510460000
                    executed_percentage: '100.00'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: '40001'
                message: BAD_REQUEST
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: '40101'
                message: UNAUTHORIZED
        '408':
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: '40801'
                message: REQUEST_TIMEOUT
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: '42901'
                message: TOO_MANY_REQUESTS
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateBotGetTradingBotExecutionsResponse'
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: '50001'
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateBotResumeTradingBotResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotResumeTradingBotResponse
    PrivateBotUpdateTradingBotResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotUpdateTradingBotResponse
    PrivateBotResumeTradingBotRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotResumeTradingBotRequest
    PrivateBotTerminateTradingBotResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotTerminateTradingBotResponse
    PrivateBotGetTradingBotsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotGetTradingBotsResponse
    PrivateBotCreateTradingBotResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotCreateTradingBotResponse
    PrivateBotPauseTradingBotResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotPauseTradingBotResponse
    PrivateBotPauseTradingBotRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotPauseTradingBotRequest
    PrivateBotCreateTradingBotRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotCreateTradingBotRequest
    PrivateBotGetTradingBotExecutionsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotGetTradingBotExecutionsRequest
    PrivateBotTerminateTradingBotRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotTerminateTradingBotRequest
    PrivateBotGetTradingBotsRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotGetTradingBotsRequest
    PrivateBotGetTradingBotExecutionsResponse:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotGetTradingBotExecutionsResponse
    PrivateBotUpdateTradingBotRequest:
      $ref: exchange-schema.generated.yaml#/components/schemas/PrivateBotUpdateTradingBotRequest
x-additional-descriptions:
- name: Prediction Reference Data
  slug: prediction-reference-data
  x-guide: prediction-reference-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: "## Prediction Reference Data\n\nPrediction market instruments contain rich metadata from `public/get-events` and `public/get-instruments` response. This metadata enables partners to build flexible navigation hierarchies tailored to their application's needs.\n\n### Physical Instrument Hierarchy\n\nThe physical data model consists of two levels:\n\n```\nEvent (underlying game/match/tournament)\n  └─ Instrument (tradable contract)\n```\n\n- Each **Event** groups related instruments under a common `event_symbol`. Event has metadata which allows you to extract League and Year information for higher level grouping, e.g. a Series.\n- Given an `event_symbol`, you can drill down for associated Instruments. Each **Instrument** represents a single tradable outcome with its own symbol and metadata.\n\nYou can try [Prediction Instrument Hierarchy Explorer](/prediction-explorer) to visualise the instrument hierarchy.\n\n### Event\n\nAn **Event** represents a real-world occurrence that can have tradable outcomes — such as a sports match, tournament, election, or other predictable event. Events are returned by `public/get-events` and serve as the grouping level for related instruments.\n\n#### Sample Event Response\n\n```json\n{\n  \"symbol\": \"FIFA-00001-260629-M\",\n  \"series_symbols\": [],\n  \"name\": \"Japan @ Brazil\",\n  \"description\": \"Japan @ Brazil\",\n  \"event_date\": 1782766800000000000,\n  \"last_updated_time\": 1782443710514350000,\n  \"event_details\": {\n    \"metaData\": {\n      \"NAME\": \"Japan @ Brazil\",\n      \"EVENT_DATE\": \"2026-06-29T17:00:00-04:00\",\n      \"SPORTS_GROUPING\": \"SOCCER\"\n    },\n    \"eventName\": \"Japan @ Brazil\"\n  }\n}\n```\n\n#### Key Event Fields\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `symbol` | Unique event identifier. The prefix indicates the league (e.g., `FIFA`, `MLB`, `UFC`). Use this to query instruments via `public/get-instruments?event_symbol=...` | `\"FIFA-00001-260629-M\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category for grouping events. Specific to sports events. | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.NAME` | Human-readable event name, typically in \"Away @ Home\" format for matches | `\"Japan @ Brazil\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time in ISO 8601 format. Extract the year component for season-based grouping. | `\"2026-06-29T17:00:00-04:00\"` |\n\n### Instrument\n\nAn **Instrument** represents a single tradable option contract tied to a specific outcome of an event. Instruments are returned by `public/get-instruments` and contain rich metadata for building navigation hierarchies and displaying contract details.\n\n#### Sample Instrument Response\n\n```json\n{\n  \"id\": -1,\n  \"method\": \"public/get-instruments\",\n  \"code\": 0,\n  \"result\": {\n    \"data\": [\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; Spain (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"Spain\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Away\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"Spain to win\"\n        }\n      },\n      {\n        \"symbol\": \"NX.F.OPT.FIFA-00001-260714-M.O.1.68.20260830\",\n        \"inst_type\": \"BINARY_OPTION\",\n        \"display_name\": \"France vs Spain ; France (2-Way) ; AT&T Stadium ; 260714\",\n        \"base_ccy\": \"USD\",\n        \"quote_ccy\": \"USD\",\n        \"tradable\": true,\n        \"expiry_timestamp_ms\": 1788127200000,\n        \"underlying_symbol\": \"FIFA-00001-260714-M\",\n        \"event_details\": {\n          \"metaData\": {\n            \"NAME\": \"Spain @ France\",\n            \"VENUE\": \"AT&T Stadium\",\n            \"LEAGUE\": \"FIFA\",\n            \"EVENT_DATE\": \"2026-07-14T19:00:00+00:00\",\n            \"PARTICIPANT\": \"France\",\n            \"SPORTS_GROUPING\": \"SOCCER\",\n            \"AWAY_PARTICIPANT\": \"Spain\",\n            \"HOME_PARTICIPANT\": \"France\",\n            \"PREDICT_CATEGORY\": \"Sports\",\n            \"PREDICT_EVENT_TYPE\": \"Game\",\n            \"PREDICT_MARKET_TYPE\": \"Game Line\",\n            \"PREDICT_PERIOD_TYPE\": \"90 Minutes and Stoppage Time\",\n            \"PREDICT_OUTCOME_TYPE\": \"Home\",\n            \"PREDICT_CONTRACT_TYPE\": \"Moneyline (2-Way)\"\n          },\n          \"eventName\": \"France to win\"\n        }\n      }\n    ]\n  }\n}\n```\n\n#### Key Instrument Fields\n\nUse these metadata fields to build navigation hierarchies:\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| `event_details.metaData.PREDICT_CATEGORY` | Top-level category for all prediction markets | `\"Sports\"`, `\"Politics\"`, `\"Culture\"` |\n| `event_details.metaData.SPORTS_GROUPING` | Sport category (for sports events) | `\"SOCCER\"`, `\"MLB\"`, `\"ESPORT\"`, `\"MMA\"` |\n| `event_details.metaData.LEAGUE` | Specific league within the sport | `\"FIFA\"`, `\"EPL\"`, `\"UCL\"`, `\"MLS\"` |\n| `event_details.metaData.EVENT_DATE` | Event start time (ISO 8601). Extract year for season grouping. | `\"2026-07-14T19:00:00+00:00\"` |\n| `event_details.metaData.NAME` | Human-readable event name in \"Away @ Home\" format | `\"Spain @ France\"` |\n| `event_details.metaData.PREDICT_CONTRACT_TYPE` | Type of contract/market | `\"Moneyline (2-Way)\"`, `\"Spread\"`, `\"Total Goals\"` |\n| `event_details.metaData.PREDICT_PERIOD_TYPE` | Time period the contract covers | `\"90 Minutes and Stoppage Time\"`, `\"Full Game\"`, `\"1st Half\"` |\n\n#### Example Hierarchy\n\nUsing the fields above, you can, for example, build a three-level navigation hierarchy:\n\n| Level | Fields | Example |\n|-------|--------|---------|\n| **Series** | `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)` | Sports > SOCCER > FIFA > 2026 |\n| **Event** | `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE` | Spain @ France > Moneyline (2-Way) > 90 Minutes and Stoppage Time |\n| **Contract** | The instrument record itself | `NX.F.OPT.FIFA-00001-260714-M.O.1.67.20260830` |\n\n### Getting Continuous Updates\n\nBoth `public/get-events` and `public/get-instruments` support pagination and incremental updates using `since` and `cursor` parameters.\n\n#### Initial Load\n\n```\nGET /dcm/v1/public/get-events?since=0\nGET /dcm/v1/public/get-instruments?since=0\n```\n\nUse `since=0` to fetch all available records from the beginning.\n\n#### Pagination\n\nWhen results exceed the page limit, the response includes a `next_cursor` field. Use it to fetch the next page:\n\n```\nGET /dcm/v1/public/get-events?since=0&cursor={next_cursor}\nGET /dcm/v1/public/get-instruments?since=0&cursor={next_cursor}\n```\n\nContinue paginating until no `next_cursor` is returned.\n\n#### Incremental Updates\n\nAfter the initial load, use the `last_updated_time` from the most recent record as your `since` value to fetch only new or updated records:\n\n```\nGET /dcm/v1/public/get-events?since={last_updated_time}\nGET /dcm/v1/public/get-instruments?since={last_updated_time}\n```\n\nThis enables efficient polling for changes without re-fetching the entire dataset.\n\n### Example: Continuously Building a 3-Level Instrument Hierarchy\n\nThis example demonstrates how to build and maintain a **Series > Event > Contract** hierarchy using REST polling with `since` and `cursor` parameters.\n\n**Goal:**\n- Build a 3-level navigation hierarchy: Series → Event → Contract\n- Keep data up-to-date via continuous REST polling\n\n**Procedure:**\n\n1. **Initialize tracking variables:**\n   ```\n   events_last_modified = 0\n   instruments_last_modified = 0\n   ```\n\n2. **Fetch events with changes:**\n   ```\n   GET /dcm/v1/public/get-events?since={events_last_modified}\n   ```\n   Paginate using `cursor` until all pages are retrieved.\n\n3. **For each event, fetch associated instruments:**\n   ```\n   GET /dcm/v1/public/get-instruments?event_symbol={symbol}&since={instruments_last_modified}\n   ```\n   This can be done in parallel for multiple events. Paginate each using `cursor`.\n\n4. **Build the hierarchy from instrument metadata:**\n   - **Series level:** Group by `PREDICT_CATEGORY` → `SPORTS_GROUPING` → `LEAGUE` → `YEAR(EVENT_DATE)`\n   - **Event level:** Group by `NAME` → `PREDICT_CONTRACT_TYPE` → `PREDICT_PERIOD_TYPE`\n   - **Contract level:** Individual instrument records\n\n5. **Update tracking variables:**\n   Record the maximum `last_updated_time` from events and instruments for the next polling cycle.\n\n6. **Sleep and repeat:**\n   Wait for your desired polling interval, then return to step 2 with the updated `since` values.\n\nThis approach ensures you only fetch changed records on subsequent cycles, minimizing API calls and data transfer.\n\n### Full Meta Data Reference\n\nFor the complete metadata specification, please refer to [FIX Document Pack > Prediction Market Appendix](/docs/api/fix/fix-introduction) for details.\n"
- name: Instrument Status Updates
  slug: instrument-status-updates
  x-guide: instrument-status-updates
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Instrument Status Updates


    Two additional endpoints provide real-time visibility into instrument state changes:


    | Endpoint | Description |

    |----------|-------------|

    | [`public/get-instrument-lifecycle-states`](/docs/api/rest/public-get-instrument-lifecycle-states) | Track lifecycle state transitions (e.g., `Suspended` → `Closed`) |

    | [`public/get-instrument-market-status`](/docs/api/rest/public-get-instrument-market-status) | Track market trading status changes (e.g., `OPEN` → `CLOSED`) |


    Both endpoints support the same pagination pattern (`since`, `cursor`, `limit`) and can be filtered by `event_symbol` for efficient parallel loading.


    ### Lifecycle States vs Market Status


    - **Lifecycle states** represent the instrument''s position in its overall lifecycle (e.g., Active, Suspended, Closed). Use this to determine if an instrument can potentially be traded or has reached end-of-life.

    - **Market status** indicates whether the instrument is currently open for trading. An instrument may be in an Active lifecycle state but have a Closed market status.


    ### Parallel Loading by Event


    For efficient data loading, fetch status updates per event in parallel:


    ```

    # For each event, fetch lifecycle and market status in parallel

    GET /dcm/v1/public/get-instrument-lifecycle-states?event_symbol={event_symbol}&since={last_updated_time}

    GET /dcm/v1/public/get-instrument-market-status?event_symbol={event_symbol}&since={last_updated_time}

    ```


    Since instruments within the same event typically change state around the same time (e.g., when a game ends), filtering by `event_symbol` enables effective parallelism across events.

    '
- name: Settlement Rules and Languages
  slug: settlement-rules-laguages
  x-guide: settlement-rules-laguages
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Settlement Rules and Languages


    Settlement rules and languages define how prediction markets resolve. This data is available via Excel file from the support team.


    ### Excel Schema


    The settlement data file contains the following columns:


    | Column | Description |

    |--------|-------------|

    | **Market Title** | Human-readable name of the prediction market |

    | **Date Added** | Date the market was added to the platform |

    | **Tradeable Symbol** | Instrument symbol (e.g., `NX.F.OPT.ELECT-CALGOV.O.1.x`) |

    | **Market Close (ET)** | Market closing time in Eastern Time |

    | **Projected Payout** | Expected payout timing (e.g., "30 minutes after closing") |

    | **Settlement Language** | Full settlement terms including resolution criteria and source agencies |

    | **Rule Number** | CDNA Rulebook rule reference (e.g., 14.62, 14.64, 14.68) |

    | **Rule** | Rule name (e.g., "ELECTION OUTCOME EVENT CENTI CONTRACT") |

    | **Rule Source** | Source agencies for resolution (e.g., AP, Reuters, major news networks) |

    | **Trading Prohibitions** | Restrictions on who may trade (e.g., source agency employees) |

    | **Status** | Market status (Active, Inactive, etc.) |


    ### How to Obtain


    Contact the support team to request the latest settlement rules and languages file. Updates are provided when markets are added or settlement terms change.


    ### Settlement Rules API


    The REST API provides programmatic access to settlement rules and languages.


    #### Available Endpoints


    | Method | Description | API Reference |

    |--------|-------------|---------------|

    | [`public/settlement-rules`](/docs/api/rest/public-get-settlement-rules) | Returns all settlement rules with their source agencies and trading prohibitions | [View &rarr;](/docs/api/rest/public-get-settlement-rules) |

    | [`public/payout-projections`](/docs/api/rest/public-get-payout-projections) | Returns all payout projection timing descriptions | [View &rarr;](/docs/api/rest/public-get-payout-projections) |

    | [`public/event-settlement-description/events/{event_symbol}`](/docs/api/rest/public-get-event-settlement-description-by-event) | Returns realized settlement descriptions for all instruments under a specific event | [View &rarr;](/docs/api/rest/public-get-event-settlement-description-by-event) |


    ### Loading Settlement Data


    Settlement rules and payout projections are reference data that change infrequently. Load them once at startup and refresh periodically.


    #### Initial Load


    Fetch all reference data in parallel:


    ```

    GET /dcm/v1/public/settlement-rules

    GET /dcm/v1/public/payout-projections

    ```


    Build lookup maps keyed by `settlement_rule_code` and `payout_projection_code` for efficient access when processing event settlement descriptions.


    #### Loading Settlement Descriptions


    Settlement descriptions are loaded per event. For each event from `public/get-events`, fetch the settlement descriptions:


    ```

    GET /dcm/v1/public/event-settlement-description/events/FIFA-00001-260714-M

    ```


    You can fetch multiple events in parallel. The response includes the realized `settlement_description` text for each instrument, along with the underlying `settlement_definition` template. Use the `settlement_rule_code` and `payout_projection_code` to join with your reference data lookup maps.

    '
- name: Prediction Market Data
  slug: prediction-market-data
  x-guide: prediction-market-data
  tags:
  - Reference and Market Data
  location: insert
  method: guide
  description: '## Prediction Market Data


    Prediction market data is available through two channels:


    ### FIX Trading and Market Data


    **Best for:** Trading applications


    Ultra Low Latency market data with minimal latency, designed for trading applications.


    - Order book snapshots and incremental updates

    - Trade execution reports

    - Instrument reference data


    You can flexibility build analytics logic based on the real time raw market data: probability calculation, spread computation, etc. Most B2B trading partners use this approach.


    [View FIX Trading and Market Data API Documentation &rarr;](/docs/api/fix/fix-introduction)


    ### Non Trading Prediction Market Data


    **Best for:** Marketing & content sites


    Pre-computed, enriched market data for marketing sites, news portals, and content platforms.


    - Pre-calculated probability and spread values

    - Events as first-class entities with market groupings

    - Full-text search across markets and events

    - Rich metadata (descriptions, categories, resolution criteria)


    Intended for display and content purposes only, may not be optimised for trading.


    [View Non Trading Prediction Market Data API Documentation &rarr;](https://data.crypto.com/)

    '
